<!DOCTYPE html>
<html lang="en">  
<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content=""> 
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>IT Staffing Consulting & USA Job Recruitment Company | SPG America</title>
<meta name="" content="" />

<meta property="og:type" content="website" />
<meta property="og:title" content="IT Staffing Consulting & USA Job Recruitment Company | SPG America" />
<meta property="og:description" content="IT Staffing Consulting & USA Job Recruitment Company" />
<meta property="og:url" content="https://www.spgamerica.com/" />
<meta property="og:site_name" content="SPG America" />
<meta property="og:image" content="https://www.spgamerica.com/static/assets/images/It-staffing.png" />

{% include 'topstyle.html' %}
</head>
<body class="defult-home innerp">

 

<!-- Main content Start -->
<div class="main-content">

  {% include 'header.html' %}

<!-- Banner Section Start -->
<div class="rs-services pt-200 pb-100 md-pt-150">
<div class="container">

<div class="row align-items-center justify-content-center">
 
<div class="col-lg-5 md-pl-14"> 
<div class="sec-title mb-15"><h2 class="m-0 pb-20 "> Our Blog  </h2>
<div class="desc pb-20 fw-400"> Our ReactJS developers follow a proper road map and deliver the project within the prescribed time. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit fuga eius dolores odit atque laboriosam impedit! Dolorum et iusto dignissimos perferendis. Asperiores quo non iusto dolor architecto, deleniti repellat eaque.
</div>
 <a class="bt-gre" href="{% url 'contact' %}">Contact</a>
</div>
</div>
<div class="col-lg-6 pl-60 md-mb-30">  <img src="static/assets/images/reactjs.png" class="img-fluid" alt="ui_ux"> </div>

</div> 
 
</div>
</div>
  
<div class="rs-services style5 pt-80 pb-120 md-pt-75 md-pb-80">
    <div class="container">
    
    <div class="row">
    <div class="col-lg-6 md-mb-30"> 
    <div class="sec-title"><h2 class="title pb-20">Development of Dynamic and Innovative Web Apps.</h2>
    <div class="desc">We have a brilliant team on board who can develop dexterous Python web development. Our team is capable of handling multiple things with deep research and knowing the market trends. We design applications that can adapt depending on the various devices. 
    </div>
    
     
     
    </div>
    </div>
    
    <div class="col-lg-6 pl-60 md-pl-14"> 
    <div class="sec-title mb-15">
    <h4 class="mb-20">Why Prefer Python Web Development</h4>
    <div class="desc pb-20">
    <ul>
    <li>Rapid Application Development </li>
    <li>Enhances the productivity of web development</li>
    <li>Extensive Libraries Support</li>
    <li>User-friendly interface</li>
    <li>Highly Scalable</li>
    <li>The best option for Data Science and Machine Learning</li>
    </ul>
    </div>
    
     
     
    </div>
    </div>
    </div> 
     
    </div>
    </div>

 
 
</div>
</div>
  



</div> 
<!-- Main content End -->



 

{% include 'footer.html' %}

</body>
 
</html>