<!DOCTYPE html>
<html lang="en">  
<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content=""> 
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>IT Staffing Consulting & USA Job Recruitment Company | SPG America</title>
<meta name="" content="" />

<meta property="og:type" content="website" />
<meta property="og:title" content="IT Staffing Consulting & USA Job Recruitment Company | SPG America" />
<meta property="og:description" content="IT Staffing Consulting & USA Job Recruitment Company" />
<meta property="og:url" content="https://www.spgamerica.com/" />
<meta property="og:site_name" content="SPG America" />
<meta property="og:image" content="https://www.spgamerica.com/static/assets/images/It-staffing.png" />

{% include 'topstyle.html' %}
</head>
<body class="defult-home innerp">

 

<!-- Main content Start -->
<div class="main-content">

  {% include 'header.html' %}

<!-- Banner Section Start -->
<div class="rs-services bg-modern pt-200 pb-100 md-pt-150">
  <div class="container">
  
  <div class="row align-items-center justify-content-between">
   
  <div class="col-lg-6 md-pl-14"> 
    <div class="sub-title text-uppercase"> Modernization </div>

   <div class="sec-title mb-15"><h1 class="m-0 pb-20 te-bla">Business Modernization  </h1>
  <div class="desc pb-20 fw-400   ">  <p class="title-small d-block  ">We build AR/VR apps that give unbelievable twists to mundane processes to deliver immersive customer experience and satisfy next-generation users. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil iusto ipsam architecto delectus nam quas quis velit, ad officia quod explicabo consequatur cum? Qui, unde. Tempora fugiat laboriosam ut aspernatur.</p>
    <a href="services-details.html" class=" te-red d-block ">Read More <i class="fa fa-angle-double-right pl-3" aria-hidden="true"></i>
    </a>
  
  </div>
   
  </div>
  </div>
  <div class="col-lg-6 pl-60 md-mb-30">  <img src="static/assets/images/business-moderan.png" class="img-fluid" alt="ui_ux"> </div>
  
  </div> 
   
  </div><div class="rs-animation">
                      <img class="dance3" src="static/assets/images/banner/b4-dot-6.png" alt="images">
                  </div>  
  </div>





  <div id="rs-about" class="rs-about style1 pt-100 pb-80 md-pt-80 md-pb-80   ">
    <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5 order-md-2">
            <div class="p-3">
            <img class="border-20" src="/static/assets/images/consulting.png" alt="">
          </div>
    </div>
            <div class="col-lg-7 pl-60 md-pl-pr-15 order-2 mt-130">
                <div class="sec-title mb-23 pr-85">
                    <div class="sub-title">Modernization
                    </div>
                    <h2 class="title mb-20">Modernize To Create A Seamless Digital Value Chain  
                      
                    </h2>
                    <p class="desc mb-0 mt-4">Amongst various consulting firms existing, we have outreached our client expectations by providing maximum output with minimal expenses incurred.
                      Our unique strategies include
                     
                     </p>
                </div>
               <div class="row pr-85">
                <div class="col-md-6">
                    <ul class="listing-style">
                        <li>Strategic planning</li>
                        <li>Effective execution</li>
                  
                    </ul>
                </div>
  
                <div class="col-md-6">
                    <ul class="listing-style">
                      <li>Skillful team</li>
                      <li>Analytical approach </li>
                    
                    </ul>
                </div>
               </div>
                
                <!-- <div class="btn-part mt-30">
                    <a class="bt-gre" href="/artificial-intelligence-machine-learning">READ MORE</a>
                </div> -->
            </div>
        
        </div>
      
    </div>
  </div>

 

<!-- Process Section Start -->
<div class="rs-process style3 pt-120 pb-100 md-pt-75 md-pb-80 gray-bg">
  <div class="container">
  <div class="row">
  <div class="col-lg-4">
  <div class="process-wrap bg9">
  <div class="sec-title mb-30">
  <div class="sub-text new">We are Offering</div>
  <h2 class="title title4 white-color pb-20">
  How SPG assist your business
  </h2>
  <div class="desc white-color">
  At PSS we provide all types of Artificial Intelligence (AI) and Machine Learning (ML) solutions by providing you with regular updates on the project and sharing real-time work progress.  
  </div>
  <div class="desc white-color mt-3">Our Dev team turns your prospects into possible by streamlining various tasks.</div>
   
  </div>
  </div>
  </div>
  <div class="col-lg-8 pl-35 md-pt-40 md-pl-15">
  <div class="row">
  <div class="col-md-6 mb-20">
  <div class="rs-addon-number">
  <div class="number-text">
  <div class="number-area">
  01
  </div>
  <div class="number-title">
  <h3 class="title"> Establish Goals</h3>
  </div>
  <p class="number-txt">From the initial state of ideation to the planning and implementation of strategies. We are backed up by the creative team who has much more to contribute.</p>
  </div>
  </div>
  </div>
  <div class="col-md-6 mb-20">
  <div class="rs-addon-number">
  <div class="number-text">
  <div class="number-area">
  02
  </div>
  <div class="number-title">
  <h3 class="title">Analyze your software</h3>
  </div>
  <p class="number-txt">After the ideation, an analysis of the project is said to be done, which includes market analysis, customer interest analysis, and application analysis. </p>
  </div>
  </div>
  </div>
  <div class="col-md-6 md-mb-20">
  <div class="rs-addon-number">
  <div class="number-text">
  <div class="number-area">
  03
  </div>
  <div class="number-title">
  <h3 class="title">Sketch the strategy</h3>
  </div>
  <p class="number-txt">Testing is done vigorously to determine the loopholes and then suggests necessary modifications and at a later stage rectifies them accordingly. </p>
  </div>
  </div>
  </div>
  <div class="col-md-6">
  <div class="rs-addon-number">
  <div class="number-text">
  <div class="number-area">
  04
  </div>
  <div class="number-title">
  <h3 class="title">Start executing</h3>
  </div>
  <p class="number-txt">This is the final phase of our operation module. The execution part involves the submission of the project to the client and moving the project to live.  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>


  <div class="rs-questions style1  pt-100 pb-100 md-pt-173 md-pb-80">
    <div class="container">
        <div class="row md-col-padding">
            <div class="col-lg-5 pr-30 md-mb-30 xs-mb-0">
            
                <div class="row gutter-20 hidden-xs">
                  <img class="bdru-40" src="/static/assets/images/vission.jpg" alt="">

                </div>
            </div>
            <div class="col-lg-7 pl-40">
              <div class="sec-title pr-80 mb-30 md-mb-42 md-pr-0  ">
                <div class="sub-title primary">Spg America </div>
                <h2 class="title mb-21 md-mb-10">Why Choose Us  </h2>
                <div class="desc">On the other hand we denounce with righteous indig ation hill and dislike men</div>
            </div>
                <div id="accordion" class="accordion">
                    <div class="card ">
                        <div class="card-header">
                            <a class="card-link  card-link-2 " data-toggle="collapse" href="#collapseOne">Unlimited Feedback</a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion ">
                            <div class="card-body card-body-2">On the other hand we denounce with righteous indignation hill and dislike men who are so beguiled and demoralized by and charms of pleasure of the moment so blinded.Lorem ipsum to dolor.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#collapseTwo">Project Management</a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body card-body-2">On the other hand we denounce with righteous indignation hill and dislike men who are so beguiled and demoralized by and charms of pleasure of the moment so blinded.Lorem ipsum to dolor.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#collapseThree">Collaboration</a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body card-body-2">On the other hand we denounce with righteous indignation hill and dislike men who are so beguiled and demoralized by and charms of pleasure of the moment so blinded.Lorem ipsum to dolor.</div>
                        </div>
                    </div>
                    <div class="card ">
                      <div class="card-header">
                          <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#collapseFour">Collaboration</a>
                      </div>
                      <div id="collapseFour" class="collapse" data-parent="#accordion">
                          <div class="card-body card-body-2">On the other hand we denounce with righteous indignation hill and dislike men who are so beguiled and demoralized by and charms of pleasure of the moment so blinded.Lorem ipsum to dolor.</div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- Process Section End -->
 
 <div class="bg1 pt-60 pb-60 md-pt-75 md-pb-80">
<div class="container"><div class="row justify-content-center"><div class="col-md-11">
<div class="sec-title2 text-center">
<span class="sub-text white-color">Transformation Begins at SPG</span>
<h2 class="white-color">
Your goals for building a powerful website or transforming it as per the latest market trend are done by us.
</h2>
<div class="call-btn mt-30">
<a class="btn bt-gre" href="{% url 'contact' %}">Read More</a>
</div>
</div> 
</div></div></div>
</div>
 
</div>
</div>
  



</div> 
<!-- Main content End -->



 

{% include 'footer.html' %}

</body>
 
</html>