<!DOCTYPE html>
<html lang="en">  
<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content=""> 
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>IT Staffing Consulting & USA Job Recruitment Company | SPG America</title>
<meta name="" content="" />

<meta property="og:type" content="website" />
<meta property="og:title" content="IT Staffing Consulting & USA Job Recruitment Company | SPG America" />
<meta property="og:description" content="IT Staffing Consulting & USA Job Recruitment Company" />
<meta property="og:url" content="https://www.spgamerica.com/career-counsellings" />
<meta property="og:site_name" content="SPG America" />
<meta property="og:image" content="https://www.spgamerica.com/static/assets/images/spg-career-counsiling.png" />

<link rel="canonical" href="https://www.spgamerica.com/career-counsellings" />


{% include 'topstyle.html' %}
</head>
<body class="defult-home innerp">

 

<!-- Main content Start -->
<div class="main-content">

  {% include 'header.html' %}


<!-- Banner Section Start -->
<div class="rs-banner bg-counsiling pt-200 pb-120 md-pt-150 md-pb-150 xs-pb-0" >
    <div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-6">
        <div class="banner-content  ">
            <div class="sub-title text-uppercase"> At SPG America  </div>
            <h1 class="title te-bla">Career Counseling 
               </h1>
             <p class="title-small d-block  ">
                At SPG America, we do not believe in limiting our services to our team, instead we create a platform for the young minds to learn from experienced professionals before starting their career. We have a vast team of skillful leaders who come forward to spread their knowledge. 

             </p> 
             <a href=" " class=" te-red d-block">Read More <i class="fa fa-angle-double-right pl-3" aria-hidden="true"></i>
             </a>
    
</div>
</div>
  <div class="col-md-6">
    <img src="static/assets/images/career-counsiling.png" class="img-fluid" alt="">
    </div>
    </div>
    </div>
    <div class="arrow-btn hidden-sm">
      <a href="#rs-services">
     <span class="up-down"></span>
     </a>
   </div>
    </div> 

    <!-- Banner Section End -->
    

<!-- -------------about start----------------- -->
            
<div id="rs-about" class="rs-about style1 pt-100 xs-pt-30 pb-100 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5 col-md-5 order-2 xs-mt-50">
            <div class=" ">
            <img class="bdru-40" src="/static/assets/images/spg-career-counsiling.png" alt="">
          </div>
    </div>
            <div class="col-lg-7 col-md-7 pl-20 md-pl-pr-15 order-md-2">
                <div class="sec-title mb-23 pr-85 pt-50 xs-pr-20">
                    <div class="sub-title">WHAT MAKES US STAND OUT
                    </div>
                    <h2 class="title mb-20">Why Trust Spg With Your Career? </h2>
                    <p class="desc mb-0 mt-4">SPG America is one of the fastest growing staffing companies in the US having worked with 250+ clients. At SPG, we have placed talented candidates to their suitable jobs. We have erased the gap between companies and students. Our major focus is on : 
                    </p>
                </div>
                <div class="row pr-85 xs-pr-20">
                    <div class="col-md-6">
                        <ul class="listing-style">
                            <li>Individual skill set</li>
                            <li> Company designation requirement </li>
                      
                        </ul>
                    </div>
      
                    <div class="col-md-6">
                        <ul class="listing-style">
                          <li> Skillful training </li>
                          <li> Imparting knowledge
                        </li>
                        
                        </ul>
                    </div>
                   </div>
                
                <div class="btn-part mt-30">
                    <a class="bt-gre" href="/artificial-intelligence-machine-learning">READ MORE</a>
                </div>
            </div>
     
        </div>
        
    </div>
  </div>
              
              <!-- <div class="btn-part mt-30">
                  <a class="bt-gre" href="/artificial-intelligence-machine-learning">READ MORE</a>
              </div> -->
          </div>
      
      </div>
    
  </div>
</div>    
<!-- -------------about end----------------- -->
 

 <!-- Services Mini Section Start -->
 <div class="rs-services style1 pt-50 pb-84 md-pt-80 md-pb-64 xs-pt-30">
    <div class="container">
        <div class="row gutter-16">
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="/static/assets/images/consalt-icon.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="services-single.html"> Select Your Career   </a></h5>
                        <div class="desc-t">Draw A Career Map According To Your Interests, With Us. </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="/static/assets/images/tiny-server.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="services-single.html"> Swot Analysis 
                        </a></h5>
                        <div class="desc-t">  Understand Your Strengths, Weaknesses, Opportunities And Threats Towards Reaching Your Goal. </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="/static/assets/images/tiny-megaphone.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="services-single.html">  Effective Coaching 
                        </a></h5>
                        <div class="desc-t"> Take An Intensive Training On The Skills And Knowledge Required For Your Field. </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="/static/assets/images/tiny-strategy.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="services-single.html"> Hit Your Shot
                        </a></h5>
                        <div class="desc-t"> Through Spg, Find Multiple Opportunities That You Think Are A Stepping Stone To Your Career. 
                            Wondering How To Connect? </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Mini Section End -->
<div class="rs-services style4 gray-bg pt-90 pb-90 md-pt-75 md-pb-80 ">
    <div class="container">
    <div class="row justify-content-center text-center"> 
    <div class="col-md-7">
        <div class="sec-title mb-50 pr-85 xs-pr-0">
   <h2 class="title mb-20">  Wondering How To Connect?  </h2>
         </div>
     <div class="desc desc-text mb-2">
        If you are somebody who is interested in teaming up with our counseling services, then all you have to do is contact us for the further details. Our services are fully flexible to all the citizens of the USA. We choose training our clients through online platforms for the convenience of both faculty and students. 
    </div>
    </div></div>
    
     
    </div>
    </div>
  <!-- premium srtart -->

  <div id="rs-services" class="rs-services style2 gray-bg2 pt-50 pb-100 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title4 text-center mb-60 md-mb-35">
            <span class="sub-title pb-15">WHAT WE DO</span>
            <h2 class="title">
                   <span class="first-title">Our Specialities 
                 </span>
             </h2>
        </div>
        <div class="row gutter-20">
            <div class="col-md-4 sm-mb-30">
                <div class="service-wrap">
                    <div class="image-part">
                        <img src="/static/assets/images/immediate-consultants.png" alt="">

                     </div>
                    <div class="content-part text-center">
                        <h3 class="title"><a href=" ">Immediate Consultants  </a></h3>
                        <div class="desc-t"> We Assign You A Strong Counselor As Soon As You Sign Up With Us Who Will Be Guiding You Throughout Your Time With Us. </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 sm-mb-30">
                <div class="service-wrap">
                    <div class="image-part">
                        <img src="/static/assets/images/client-based.png" alt="">
                    </div>
                    <div class="content-part text-center">
                        <h3 class="title"><a href=" ">  A Strong Client Base </a></h3>
                        <div class="desc-t">We Have Delivered 250+ Projects And Have A Very Strong Client Network That Will Help You Encounter A Lot Of Opportunities. </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-wrap">
                    <div class="image-part">
                        <img src="/static/assets/images/motive-driven-training.png" alt="">
                    </div>
                    <div class="content-part text-center">
                        <h3 class="title"><a href=" ">  Motive Driven Trainers</a></h3>
                        <div class="desc-t"> We Have A Team Of Strong Motive Driven Professionals Who Encourage And Help Their Clients In Every Step. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  <!-- premium end -->
 
  <!-- Why Section Start -->
  <div class="rs-questions style1 gray-bg pt-100 pb-100 md-pt-173 xs-pt-60 md-pb-80">
    <div class="container">
        <div class="row md-col-padding">
            <div class="col-lg-6 col-md-6 order-2 pr-30 md-mb-30 xs-mb-0">
            
                <div class="row gutter-20 hidden-xs xs-mt-50">
                  <img class="bdru-40" src="/static/assets/images/ask-question.jpg" alt="">

                </div>
            </div>
            <div class="col-lg-6 col-md-6 order-md-2 pl-40">
              <div class="sec-title pr-80 mb-30 md-mb-42 md-pr-0  ">
                <div class="sub-title primary">Spg America </div>
                <h2 class="title mb-21 md-mb-10">Frequently Asked Questions </h2>
                <div class="desc">If you’re looking for more information on our IT consulting services, explore our frequently asked questions.
                </div>
            </div>
                <div id="accordion" class="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseOne">What IT Strategic Consulting services does Dataprise offer?</a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <div class="card-body">On the other hand we denounce with righteous indignation hill and dislike men who are so beguiled and demoralized by and charms of pleasure of the moment so blinded.Lorem ipsum to dolor.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">What is Dataprise's approach to Strategic Consulting services?  </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">On the other hand we denounce with righteous indignation hill and dislike men who are so beguiled and demoralized by and charms of pleasure of the moment so blinded.Lorem ipsum to dolor.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">What can I expect from a Strategic Consulting engagement?</a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body">On the other hand we denounce with righteous indignation hill and dislike men who are so beguiled and demoralized by and charms of pleasure of the moment so blinded.Lorem ipsum to dolor.</div>
                        </div>
                    </div>
                    <div class="card">
                      <div class="card-header">
                          <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">How are the vCIO and Strategic Consulting services delivered?</a>
                      </div>
                      <div id="collapseFour" class="collapse" data-parent="#accordion">
                          <div class="card-body">On the other hand we denounce with righteous indignation hill and dislike men who are so beguiled and demoralized by and charms of pleasure of the moment so blinded.Lorem ipsum to dolor.</div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why Section End -->

 
 <!-- Call to Action Section Start -->
 <div class="rs-cta style2 pt-100 pb-100 md-pt-80 md-pb-80">
    <div class="cta-wrap text-center">
        <h2 class="title">Let's Start Your Next Project With Us</h2>
        <div class="btn-part">
            <a class="bt-gre" href="">Contact Now</a>
        </div>
    </div>
</div>
<!-- Call to Action Section End -->

 
</div> 
<!-- Main content End -->
 

{% include 'footer.html' %}

</body>
 
</html>