<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <meta name="description"
        content="SPG America's dedication to corporate responsibility shines through our sustainable practices. Partner with us for a better tomorrow.">
    <meta name="robots" content="index, follow">
    <!-- Title -->
    <title>Corporate Responsibility at SPG America</title>
    <meta name="" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Corporate Responsibility at SPG America" />
    <meta property="og:description"
        content="SPG America's dedication to corporate responsibility shines through our sustainable practices. Partner with us for a better tomorrow." />
    <meta property="og:url" content="https://www.spgamerica.com/corporate-responsibility" />
    <meta property="og:site_name" content="SPG America" />
    <meta property="og:image" content="https://www.spgamerica.com/static/assets/images/services/corporate-responsibility/innovating.webp" />

    <link rel="canonical" href="https://www.spgamerica.com/corporate-responsibility" />


    {% include 'topstyle.html' %}
</head>

<body class="defult-home">



    <!-- Main content Start -->
    <div class="main-content">

        {% include 'header.html' %}
        <!-- Banner Section start -->
        <div class="rs-services pt-150 bg-corporate pb-100 md-pt-80 md-pb-80 sm-pb-40 sm-pt-40">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4 md-mb-30 order-md-2"> </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="sec-title mb-15 mt-60">
                            <h1 class="m-0 text-white"> Our Commitment to Corporate Responsibility</h1>
                            <div class="desc pb-30 fw-400 text-white">
                                Empowering Sustainable Growth and Ethical Excellence at SPG: Nurturing Communities and
                                the Environment for a Better Tomorrow.
                            </div>
                            <div class="btn-part">
                                <a class="banner-btn" href="{% url 'contact' %}">Discover More <svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Section End -->


        <div id="rs-services" class="rs-services pd-title style2 gray-bg2 pt-80 pb-60 md-pt-60 md-pb-40 sm-pb-30 sm-pt-40">
            <div class="container">
                <div class="row gutter-20">
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="service-wrap h-100">
                            <div class="image-part">
                                <img src="/static/assets/images/services/corporate-responsibility/innovating.webp" alt="Innovating for a Greener Tomorrow">
                            </div>
                            <div class="text-center p-2">
                                <!-- <div class="te-gre mb-0">Sustainable Business Practices</div> -->
                                <h4 class="title mb-2 text-dark"> Innovating for a Greener Tomorrow</h4>
                                <div class="desc">
                                    We integrate eco-friendly solutions in our operations, reducing our environmental
                                    footprint while pioneering sustainability in our industry.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="service-wrap h-100">
                            <div class="image-part">
                                <img src="/static/assets/images/services/corporate-responsibility/building.webp" alt="Building Stronger Communities Together">
                            </div>
                            <div class="text-center p-2">
                                <!-- <div class="te-gre">Community Engagement and Support</div> -->
                                <h4 class="title mb-2  text-dark">Building Stronger Communities Together</h4>
                                <div class="desc">
                                    SPG actively participates in community upliftment projects, fostering social
                                    development and supporting local initiatives.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="service-wrap h-100">
                            <div class="image-part">
                                <img src="/static/assets/images/services/corporate-responsibility/integrity.webp" alt="Integrity in Every Action">
                            </div>
                            <div class="text-center p-2">
                                <!-- <div class="te-gre">Ethical Governance and Transparency</div> -->
                                <h4 class="title mb-2  text-dark">Integrity in Every Action</h4>
                                <div class="desc">
                                    Our commitment to ethical governance ensures transparency and accountability in all
                                    our business dealings, upholding the highest standards of integrity.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- start -->

        <div id="rs-services" class="rs-services style16 first-footer pt-70 pb-80 md-pt-60 md-pb-70 sm-pb-40 sm-pt-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="sec-title mb-23 pr-85 xs-pr-20 md-pr-10">
                            <span class="sub-title primary"> Empowering Communities, Enriching Lives – SPG’s
                                Commitment to Making a Difference</span>
                            <h2 class="title mb-20">SPG's Dedication to Community Engagement and Philanthropy</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-25">
                        <div class="services-wrap h-100">
                            <!-- <div class="icon-part">
                                <i class="fa fa-bar-chart"></i>
                            </div> -->
                            <div class="services-txt">
                                <h4 class="services-title"><a href="">Local Community Support Programs</a></h4>
                                <p class="services-txt">SPG invests in various local programs, focusing on education,
                                    health, and welfare to uplift the communities we serve.</p>
                                <div class="serial-number">01</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <div class="services-wrap h-100">
                            <!-- <div class="icon-part">
                                <i class="fa fa-puzzle-piece"></i>
                            </div> -->
                            <div class="services-txt">
                                <h4 class="services-title"><a href="">Volunteering and Employee Involvement </a></h4>
                                <p class="services-txt"> We encourage and facilitate employee participation in volunteer
                                    activities, fostering a culture of giving back to the community.</p>
                                <div class="serial-number">02</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <div class="services-wrap h-100">
                            <!-- <div class="icon-part">
                                <i class="fa fa-envelope-o"></i>
                            </div> -->
                            <div class="services-txt">
                                <h4 class="services-title"><a href="">Charitable Donations and Grants</a></h4>
                                <p class="services-txt">SPG provides financial
                                    support through donations and grants to credible organizations working towards
                                    societal betterment.</p>
                                <div class="serial-number">03</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 md-mb-25">
                        <div class="services-wrap h-100">
                            <!-- <div class="icon-part">
                                <i class="fa fa-sitemap"></i>
                            </div> -->
                            <div class="services-txt">
                                <h4 class="services-title"><a href="">Partnerships with Non-Profit Organizations</a>
                                </h4>
                                <p class="services-txt">We collaborate
                                    with non-profits to drive impactful change, leveraging their expertise for more
                                    effective community outreach.</p>
                                <div class="serial-number">04</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-mb-25">
                        <div class="services-wrap h-100">
                            <!-- <div class="icon-part">
                                <i class="fa fa-codepen"></i>
                            </div> -->
                            <div class="services-txt">
                                <h4 class="services-title"><a href="">Sponsorship of Community Events</a></h4>
                                <p class="services-txt">SPG sponsors and supports
                                    various local events and initiatives that align with our values and contribute to
                                    community vibrancy.</p>
                                <div class="serial-number">05</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services-wrap h-100">
                            <!-- <div class="icon-part">
                                <i class="fa fa-yelp"></i>
                            </div> -->
                            <div class="services-txt">
                                <h4 class="services-title"><a href="">Disaster Relief and Emergency Support </a></h4>
                                <p class="services-txt">In times of crisis, SPG
                                    actively participates in relief efforts, providing aid and support to affected
                                    communities.</p>
                                <div class="serial-number">06</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end -->


        <div id="rs-services" class="rs-services style5 pt-60 pb-80 md-pt-60 md-pb-80 xs-pt-30 xs-pb-50">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-12 col-lg-9 m-auto">
                        <div class="sec-title mb-20 xs-pr-0 xs-pb-0 xs-mb-10 text-center">
                            <p class="title mb-10">Championing Customer Engagement and Product Responsibility at SPG</p>
                            <div class="desc desc-text mb-1">
                                Delivering Excellence with Integrity: SPG's Promise for Customer Satisfaction and
                                Responsible Products.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-20 xs-mt-20 md-mt-10">
                    <div class="col-lg-4 md-mb-30">
                        <div class="services-item h-100">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/corporate-responsibility/prioritizing.webp"
                                    alt="Prioritizing Customer Feedback">
                            </div>
                            <div class="services-content">
                                <h3 class="services-title"><a> Prioritizing Customer Feedback </a></h3>
                                <p class="services-desc">
                                    SPG actively seeks and incorporates customer feedback to continually improve our
                                    products and services. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 md-mb-30">
                        <div class="services-item h-100">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/corporate-responsibility/ensuring.webp" alt="Ensuring Product Safety and Quality">
                            </div>
                            <div class="services-content">
                                <h3 class="services-title"><a>Ensuring Product Safety and Quality </a></h3>
                                <p class="services-desc">
                                    We maintain the highest standards of safety and quality, ensuring our products meet
                                    rigorous testing and compliance norms.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="services-item h-100">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/corporate-responsibility/transparent.webp" alt="Transparent Product Information">
                            </div>
                            <div class="services-content">
                                <h3 class="services-title"><a>Transparent Product Information </a></h3>
                                <p class="services-desc">
                                    SPG provides comprehensive and clear information about our products, enabling
                                    informed customer choices.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-4 md-mb-30">
                        <div class="services-item  h-100">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/corporate-responsibility/ethical.webp" alt="Ethical Marketing Practices">
                            </div>
                            <div class="services-content">
                                <h3 class="services-title"><a>Ethical Marketing Practices </a></h3>
                                <p class="services-desc">
                                    Our marketing strategies are based on honesty and transparency, upholding ethical
                                    standards and fostering trust.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 md-mb-30">
                        <div class="services-item h-100">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/corporate-responsibility/environmentally.webp" alt="Environmentally Responsible Products">
                            </div>
                            <div class="services-content">
                                <h3 class="services-title"><a>Environmentally Responsible Products </a></h3>
                                <p class="services-desc">
                                    -We are committed to reducing environmental impact by designing and producing
                                    eco-friendly and sustainable products.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="services-item h-100">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/corporate-responsibility/responsive.webp" alt="Responsive Customer Support">
                            </div>
                            <div class="services-content">
                                <h3 class="services-title"><a>Responsive Customer Support </a></h3>
                                <p class="services-desc">
                                    SPG offers efficient and empathetic customer
                                    support, addressing concerns and queries promptly to ensure customer satisfaction.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="rs-about style9 first-footer pt-80 pb-90 md-pt-60 md-pb-80 sm-pb-50 sm-pt-40">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-6 pr-73 md-pr-15 md-mb-50">
                        <div class="sec-title4 mb-50 md-mb-35">
                            <!-- <span class="sub-title pb-15">About Us</span> -->
                            <h2 class="title pb-10 md-pb-10">Fostering Employee Wellbeing and Diversity at SPG</h2>
                            <p class="desc">
                                Creating an Inclusive and Supportive Workplace – Where Every Employee Thrives.
                            </p>
                        </div>
                        <div class="services-item mb-40">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/corporate-responsibility/comprehensive.webp" alt="images">
                            </div>
                            <div class="services-text">
                                <div class="services-title">
                                    <h3 class="title pb-8"><a>Comprehensive Wellbeing Programs</a></h3>
                                </div>
                                <p class="services-txt">SPG offers extensive
                                    wellbeing programs that focus on physical, mental, and emotional health, ensuring a
                                    balanced and healthy work environment for all employees.</p>
                            </div>
                        </div>
                        <div class="services-item">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/corporate-responsibility/diversity.webp" alt="images">
                            </div>
                            <div class="services-text">
                                <div class="services-title">
                                    <h3 class="title pb-8"><a> Diversity and Inclusion Initiatives</a></h3>
                                </div>
                                <p class="services-txt">Our commitment to
                                    diversity is reflected in our inclusive policies and practices, promoting equal
                                    opportunities and a respectful workplace for people from all backgrounds.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image-part">
                            <img src="/static/assets/images/services/corporate-responsibility/1.webp" alt="Supportive Workplace">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end -->


        <!-- start -->


        <div id="rs-about" class="rs-about style3 pt-80 pb-20 md-pt-60 md-pb-10 sm-pt-40 sm-pb-0">
            <div class="container">
                <div class="row align-items-center y-middle">
                    <div class="col-lg-6 pr-85 lg-pr-50 md-pr-15">
                        <div class="sec-title mb-24">
                            <!-- <div class="sub-title green">About Us</div> -->
                            <h2 class="title mb-21">SPG's Promise to Always Support You</h2>
                            <div class="desc">
                                Your Success and Well-being, Our Corporate Responsibility.
                            </div>
                        </div>
                        <ul class="listing-style mb-40">
                            <li>Tailored Support for Small Businesses and Startups</li>
                            <li>Community Health and Wellness Initiatives</li>
                            <li>Environmental Conservation and Sustainability Programs</li>
                        </ul>
                        <div class="btn-part mb-5">
                            <a class="readon" href="{% url 'contact' %}"> Contact Us</a>
                        </div>
                    </div>
                    <div class="col-lg-6 md-order-first md-mb-30">
                        <div class="row gutter-20">
                            <div class="col-12">
                                <img src="/static/assets/images/services/corporate-responsibility/2.webp" alt="SPG Support">
                            </div>
                            <!-- <div class="col-6">
                                <img src="/static/assets/images/new-image.jpg" alt="Image">
                            </div>
                            <div class="col-6 mt-30">
                                <img class="mb-20" src="/static/assets/images/new-image-2.jpg" alt="Image">
                                <img src="/static/assets/images/new-image-2.jpg" alt="Image">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- end -->



        <!-- Key section end-->
        <div class="rs-questions style1 pt-80 pb-80 md-pb-60 md-pt-60 xs-pt-30 xs-pb-50">
            <div class="container">
                <div class="row md-col-padding">
                    <div class="col-lg-5  col-md-5 pr-30 md-mb-30 xs-mb-0 order-2 xs-mt-50">

                        <div class="row gutter-20 hidden-xs">
                            <img class="bdru-40" src="/static/assets/images/services/corporate-responsibility/3.webp" alt="SPG Corporate Responsibility">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 pl-40 order-md-2  xs-pl-15">
                        <div class="sec-title pr-80 mb-30 md-mb-30 md-pr-0">
                            <p class="title mb-40 md-mb-10">Key Focus Areas of SPG's Corporate Responsibility</p>
                        </div>
                        <div id="accordion" class="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link card-link-2" type="button" data-toggle="collapse"
                                        href="#collapseOne">
                                        Sustainable Environmental Practices
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body card-body-2">SPG
                                        actively implements eco-friendly initiatives, aiming to reduce our carbon
                                        footprint and promote sustainability in all aspects of our business.</div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link card-link-2" data-toggle="collapse"
                                        href="#collapseThree">Ethical Business Conduct</a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body card-body-2"> We are committed to
                                        maintaining the highest standards of integrity and transparency in our
                                        operations, ensuring ethical practices across all levels of the organization.
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-header">
                                    <a class="collapsed card-link card-link-2" data-toggle="collapse"
                                        href="#collapseFour">Employee Wellbeing and Diversity</a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                    <div class="card-body card-body-2"> SPG
                                        prioritizes the health, safety, and professional growth of our employees,
                                        fostering a diverse and inclusive workplace culture.</div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-header">
                                    <a class="collapsed card-link card-link-2" data-toggle="collapse"
                                        href="#collapseFive">Community Engagement and Development </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordion">
                                    <div class="card-body card-body-2">Our
                                        company is dedicated to giving back to the community, supporting local
                                        initiatives, and engaging in philanthropic activities that drive positive
                                        societal change.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Why Section End -->

    </div>
    <!-- Main content End -->
    {% include 'footer.html' %}
</body>

</html>