<!DOCTYPE html>
<html lang="en">  
<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content=""> 
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>IT Staffing Consulting & USA Job Recruitment Company | SPG America</title>
<meta name="" content="" />

<meta property="og:type" content="website" />
<meta property="og:title" content="IT Staffing Consulting & USA Job Recruitment Company | SPG America" />
<meta property="og:description" content="IT Staffing Consulting & USA Job Recruitment Company" />
<meta property="og:url" content="https://www.spgamerica.com/csr" />
<meta property="og:site_name" content="SPG America" />
<meta property="og:image" content="https://www.spgamerica.com/static/assets/images/single-img-three.jpg" />

<link rel="canonical" href="https://www.spgamerica.com/csr"/> 


{% include 'topstyle.html' %}
</head>
<body class="defult-home">

 

<!-- Main content Start -->
<div class="main-content">

{% include 'header.html' %}

<!-- Banner Section Start -->
<!-- <div class="rs-banner bg5 pt-200 pb-120 md-pt-150 md-pb-150">
    <div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-5">
        <div class="banner-content  ">
            <div class="sub-title text-uppercase">  IT CONSULTING  </div>
            <h1 class="title">Digital Marketing Agency
               </h1>
             <p class="title-small d-block text-white">
                Use the expertise and deep tech background of the best minds at Intellectsoft to create a comprehensive IT strategy for a digital and technological transformation of your organization that goes in line with your business objectives. 

             </p> 
             <a href="services-details.html" class="color-red d-block">Read More <i class="fa fa-angle-double-right pl-3" aria-hidden="true"></i>
             </a>
             
</div>


</div>
    
    <div class="col-md-6">
    <img src="static/assets/images/web_solution-2.png" class="img-fluid" alt="">
    </div>
    </div>
    </div>
    <div class="arrow-btn hidden-sm">
      <a href="#rs-services">
     <span class="up-down"></span>
         </a>
         </div>
    </div> -->

    <div class="rs-services style4  pt-60  md-pt-75   mt-150 ">
        <div class="container">
        <div class="row justify-content-center text-center"> 
        <div class="col-md-7">
          <h2 class="title">C S R (Corporate Social Responsibility)
        </h2>
  
        <!-- <div class="desc desc-text mb-2">
            If you are somebody who is interested in teaming up with our counseling services, then all you have to do is contact us for the further details. Our services are fully flexible to all the citizens of the USA.  
        </div> -->
        </div></div>
        
         
        </div>
        </div>
<!-- Banner Section End -->


<div id="rs-about" class="rs-about style1 pt-40 pb-80 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5 order-md-2">
            <div class=" ">
            <img class="bdru-40" src="/static/assets/images/single-img-three.jpg" alt="">
          </div>
    </div>
            <div class="col-lg-7 pl-20 md-pl-pr-15 order-2">
                <div class="sec-title mb-23 pr-85 pt-50">
                    <div class="sub-title">SPG America 
                    </div>
                    <h2 class="title mb-20">Welcome To Our Digital Marketing Agency  </h2>
                    <p class="desc mb-0 mt-4">SPG America is an IT service provider which delivers industry oriented talent and technological services to global IT clients and talent acquisitioners. With robust knowledge management and innovative work culture, we have scaled heights and are bound to offer superior results. We offer services on-site, off-site and off-shore services enabling strategic advantage to various kinds of reputed organizations around the world. If you are looking for a career worth exploring</p>
                </div>
   
                
                <div class="btn-part mt-30">
                    <a class="bt-gre" href="/artificial-intelligence-machine-learning">READ MORE</a>
                </div>
            </div>
     
        </div>
        
    </div>
  </div>

 
<div class="rs-services style5 pt-80 pb-80 md-pt-75 md-pb-80 gray-bg">
<div class="container">

<div class="row">
<div class="col-lg-6 md-mb-30"> 
<div class="sec-title"><h2 class="title pb-20">Development of Dynamic and Innovative Web Apps.</h2>
<div class="desc">We have a brilliant team on board who can develop dexterous Python web development. Our team is capable of handling multiple things with deep research and knowing the market trends. We design applications that can adapt depending on the various devices. 
</div>

 
 
</div>
</div>

<div class="col-lg-6 pl-60 md-pl-14"> 
<div class="sec-title mb-15">
<h4 class="mb-20">Why Prefer Python Web Development</h4>
<div class="desc pb-20">
<ul>
<li>Rapid Application Development </li>
<li>Enhances the productivity of web development</li>
<li>Extensive Libraries Support</li>
<li>User-friendly interface</li>
<li>Highly Scalable</li>
<li>The best option for Data Science and Machine Learning</li>
</ul>
</div>

 
 
</div>
</div>
</div> 
 
</div>
</div>
 


    <div id="rs-about" class="rs-about style1 pt-80 pb-80 xs-pt-40 xs-pb-40 md-pt-80 md-pb-80">
        <div class="container">
            <div class="row justify-content-between">
              
                <div class="col-lg-7 pl-20 md-pl-pr-15 order-2">
                    <div class="sec-title mb-23 pr-85">
                        <div class="sub-title">  digital-marketing
                        </div>
                        <h2 class="title mb-20">Exceptional Digital Partner for Your Business Plan  </h2>
                        <p class="desc mb-0 mt-4">The right proportion of ingredients only makes the best recipe, even in the digital dimension. Try us.

                        </p>
                    </div>
                   <div class="row pr-85">
                    <div class="col-md-6">
                        <ul class="listing-style">
                            <li>Outstanding Deliverables </li>
                            <li>Real-time Insights </li>
                            <li>Proven Methodologies </li>
                            <li>Expert Knowledge Sharing </li>
                        </ul>
                    </div>
    
                    <div class="col-md-6">
                        <ul class="listing-style">
                            <li>Passionate Team</li>
                            <li>100+ Project Expertise</li>
                            <li>Global Expansion</li>
                            <li>Ready to Collaborate</li>
                        </ul>
                    </div>
                   </div>
                    
                    <div class="btn-part mt-30">
                        <a class="bt-gre" href="/artificial-intelligence-machine-learning">READ MORE</a>
                    </div>
                </div>
                <div class="col-lg-5 order-md-2">
                    <div class=" p-3">
                    <img src="/static/assets/images/home-version-ten-sell-funnel-1.png" alt="">
                  </div>
            </div>
            </div>
        </div>
    </div>

 
  
  

</div> 
<!-- Main content End -->
{% include 'footer.html' %}
</body>
 
</html>