<!DOCTYPE html>
<html lang="en">  
<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content=""> 
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>IT Staffing Consulting & USA Job Recruitment Company | SPG America</title>
<meta name="" content="" />

<meta property="og:type" content="website" />
<meta property="og:title" content="IT Staffing Consulting & USA Job Recruitment Company | SPG America" />
<meta property="og:description" content="IT Staffing Consulting & USA Job Recruitment Company" />
<meta property="og:url" content="https://www.spgamerica.com/" />
<meta property="og:site_name" content="SPG America" />
<meta property="og:image" content="https://www.spgamerica.com/static/assets/images/single-img-three.jpg" />

{% include 'topstyle.html' %}
</head>
<body class="defult-home innerp">

 

<!-- Main content Start -->
<div class="main-content">

  {% include 'header.html' %}


<!-- Banner Section Start -->
<div class="rs-banner bg-training pt-200 pb-120 md-pt-150 md-pb-150" >
    <div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-5">
        <div class="banner-content  ">
            <div class="sub-title text-uppercase"> OUR SERVICES  </div>
            <h1 class="title te-bla">Customized Training  
               </h1>
             <p class="title-small d-block  ">
                We are a diverse group of individuals who do not believe in following a single procedure. We focus on an individual's talent, preferences, interests, strengths and much more to provide a customized and personalized training for their suitable position. We are determined to deliver the best candidates to the best profiles of the client. 
             </p> 
             <a href="services-details.html" class="te-red  d-block">Read More <i class="fa fa-angle-double-right pl-3" aria-hidden="true"></i>
             </a>
    
</div>
</div>
  <div class="col-md-6">
    <img src="static/assets/images/custtom-training.png" class="img-fluid" alt="">
    </div>
    </div>
    </div>
    <div class="arrow-btn hidden-sm">
      <a href="#rs-services">
     <span class="up-down"></span>
     </a>
   </div>
    </div> 

    <!-- Banner Section End -->
    

<!-- -------------about start----------------- -->
            
<div id="rs-about" class="rs-about style1 pt-100 xs-pt-0 pb-80 md-pt-80 md-pb-80  xs-pb-65">
  <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5 col-md-5 order-2 xs-mt-50 ">
          <div class="p-3 with-border ">
          <img  class="border-20" src="/static/assets/images/individuals-training.png" alt="">
        </div>
  </div>
          <div class="col-lg-7 col-md-7 pl-60 md-pl-pr-15 order-md-2 mt-80 md-pl-15 xs-mt-50">
              <div class="sec-title mb-23 pr-85 md-pr-20">
                  <div class="sub-title">WHAT MAKES US STAND OUT 
                  </div>
                  <h2 class="title mb-20">
                    Our Very Own Features 
                    <br>
                     
                  </h2>
                  <p class="desc mb-0 mt-4">Amongst a lot of global companies, it is very rare to find few that train individuals based on their personal skills and requirements. Unlike many companies, we do not provide generalized training that limits the growth of an individual to a certain level. We are majorly interested in : 

                   </p>
              </div>
             <div class="row pr-85 md-pr-20">
              <div class="col-md-6">
                  <ul class="listing-style">
                      <li>The clients requirements for the role</li>
                      <li>The responsibilities of the candidate</li>
                
                  </ul>
              </div>

              <div class="col-md-6">
                  <ul class="listing-style">
                    <li>Interests and preferences of the applicants</li>
                    <li>SWOT analysis for the candidate</li>
                  
                  </ul>
              </div>
             </div>
              
              <!-- <div class="btn-part mt-30">
                  <a class="bt-gre" href="/artificial-intelligence-machine-learning">READ MORE</a>
              </div> -->
          </div>
      
      </div>
    
  </div>
</div>    
<!-- -------------about end----------------- -->
 

 <!-- Services Mini Section Start -->
 <!-- <div class="rs-services style1 pt-100 pb-84 md-pt-80 md-pb-64">
    <div class="container">
        <div class="row gutter-16">
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="/static/assets/images/consalt-icon.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="services-single.html">IT  Assessments   </a></h5>
                        <div class="desc-t"> We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="/static/assets/images/tiny-server.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="services-single.html">  IT Strategy &   Planning</a></h5>
                        <div class="desc-t"> We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="/static/assets/images/tiny-megaphone.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="services-single.html">Business Continuity</a></h5>
                        <div class="desc-t"> We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="/static/assets/images/tiny-strategy.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="services-single.html">  Software  Consulting</a></h5>
                        <div class="desc-t"> We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Services Mini Section End -->

   <!-- Services Section Start -->
   <div class="rs-services style3 pt-100 pb-100 md-pt-72 xs-pt-40 xs-pb-60 md-pb-80 gray-bg">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-5 pr-70 md-mb-50">
                <div class="sec-title">
                    <div class="sub-title   primary">Services</div>
                    <h2 class="title"> Types Of Training Offered </h2>
                    <p class="desc mb-36">At SPG, we do not fix training for a particular period of time. We give it a life span that develops the individual's growing capacity. Our training services are : 

                    </p>
                    <a class="bt-gre mt-4" href="contact.html">View All</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6 mb-30">
                        <div class="service-wrap mb-30">
                            <div class="icon-part">
                                <img src="/static/assets/images/machine-learning-1.png" alt="">                            </div>
                            <h5 class="title"><a href="services-single.html"> Soft Skills  </a></h5>
                            <div class="desc-t">We Ensure To Send Only Those Candidates Who Can Maintain The Decorum Of The Company And Represent Spg On A High Level. </div>
                        </div>
                        <div class="service-wrap">
                            <div class="icon-part">
                                <img src="/static/assets/images/deep-learning-1.png" alt="">                            </div>
                            <h5 class="title"><a href="services-single.html"> Technical Skills   </a></h5>
                            <div class="desc-t">We Never Disappoint Our Clients By Producing A Weaker Workforce. We Only Send Skilled And Talented Employees. </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-50 sm-mt-0">
                        <div class="service-wrap mb-30">
                            <div class="icon-part">
                                <img src="/static/assets/images/sales-intelligence-1.png" alt="">                            </div>
                            <h5 class="title"><a href="services-single.html">On Ground Training    </a></h5>
                            <div class="desc-t">After The Successful Placement Of The Candidate, We Provide A Detailed Orientation Of Their Responsibilities. </div>
                        </div>
                        <div class="service-wrap">
                            <div class="icon-part">
                                <img src="/static/assets/images/Classification-tool-1.png" alt="">                            </div>
                            <h5 class="title"><a href="services-single.html"> Product/ Service Training  </a></h5>
                            <div class="desc-t"> We Ensure To Provide All The Necessary Details About The Product Or Service And The Industry The Company Is Dealing With. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Section End -->
 

  <!-- Why Section Start -->
  <div class="rs-questions style1  pt-100 pb-90 md-pt-80 xs-pt-0 md-pb-40  xs-pb-30">
    <div class="container">
        <div class="row md-col-padding  justify-content-between">
               <div class="col-lg-7 col-md-7 pl-20 md-pl-pr-15 ">
              <div class="sec-title pr- mb-23 pr-85 pt-80 md-pt-0 xs-pr-20 xs-pt-50 md-pr-10">
                <div class="sub-title primary">Spg America </div>
                <h2 class="title mb-21 md-mb-10 mb-4">Why Spg For Customized Training?  </h2>
                <div class="desc">As staffing is one of our primary services, we have established successful relationships with many versatile companies and have built a network with many professional experts. Our strong community helps in the perfect placement of the right skills to the right position. We confirmly deliver only the best to the companies that trust us and provide only the best to the candidates that rely on us. 


                </div>
            </div>
              
            </div>
            <div class="col-lg-5 col-md-5 pr-30 md-mb-30 xs-mb-0">
            
                <div class="row gutter-20 hidden-xs">
                  <img class="bdru-40" src="/static/assets/images/why-spg-custom-traing.png" alt="">

                </div>
            </div>
         
        </div>
    </div>
</div>
<!-- Why Section End -->




 
 

  


<!-- <div class="rs-services style3 pb-100 md-pt-72 md-pb-80  pt-80  gray-bg">
    <div class="container">

        <div class="row">
 
  <div class="col-lg-12">
    <div class="sec-title2 text-center mb-60"> 
        <h2 class="title title4">
        Our Methodology towards Data Science 
        </div>


<div class="rs-services style3 pt-0 md-pt-70 ">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6 mb-20">
<div class="services-item">
<div class="services-icon">
<div class="image-part">
<img class="main-img" src="static/assets/images/examining.png" alt="">
<img class="hover-img" src="static/assets/images/5.png" alt=""> 
</div>
</div>
<div class="services-content">
<div class="services-text">
<h3 class="title"><a>  Predictive Analytics </a></h3>
</div>
<div class="services-desc">
<p>
We tend to work by examining the requirements for your business, need-based delivery of the projects is done.
</p>
</div>
<div class="serial-number">
01 
</div>
</div>
</div> 
</div>
<div class="col-lg-4 col-md-6 mb-20">
<div class="services-item pink-bg h-100">
<div class="services-icon">
<div class="image-part">
<img class="main-img" src="static/assets/images/data.png" alt="">
<img class="hover-img" src="static/assets/images/6.png" alt="">
</div>
</div>
<div class="services-content">
<div class="services-text">
<h3 class="title"><a>Media And Text Analysis </a></h3>
</div>
<div class="services-desc">
<p>
We explore your existing data to identity the anomalies, missing structures and suggest you with better alternatives.
</p>
</div>
<div class="serial-number">
02 
</div>
</div>
</div> 
</div>
<div class="col-lg-4 col-md-6 mb-20">
<div class="services-item aqua-bg h-100">
<div class="services-icon">
<div class="image-part">
<img class="main-img" src="static/assets/images/preparing.png" alt="">
<img class="hover-img" src="static/assets/images/7.png" alt="">
</div>
</div>
<div class="services-content">
<div class="services-text">
<h3 class="title"><a>  Custom Tools </a></h3>
</div>
<div class="services-desc">
<p>
Data preparation is done based on the analysis and after the scrutiny and modifications in it.
</p>
</div>
<div class="serial-number">
03 
</div>
</div>
</div> 
</div>



<div class="col-lg-4 col-md-6 mb-20">
<div class="services-item green-bg h-100">
<div class="services-icon">
<div class="image-part">
<img class="main-img" src="static/assets/images/examining.png" alt="">
<img class="hover-img" src="static/assets/images/5.png" alt="">
</div>
</div>
<div class="services-content">
<div class="services-text">
<h3 class="title"><a>  Process Automation </a></h3>
</div>
<div class="services-desc">
<p>
For exceptional results, our team will constantly work on the trail and error method to find the one which stands out from the rest.
</p>
</div>
<div class="serial-number">
04 
</div>
</div>
</div> 
</div>



<div class="col-lg-4 col-md-6 mb-20">
<div class="services-item purple-bg h-100">
<div class="services-icon">
<div class="image-part">
<img class="main-img" src="static/assets/images/preparing.png" alt="">
<img class="hover-img" src="static/assets/images/6.png" alt="">
</div>
</div>
<div class="services-content">
<div class="services-text">
<h3 class="title"><a>Shaping the Solution</a></h3>
</div>
<div class="services-desc">
<p>
Whatever the requirement is whether it is an algorithm, or a managing data issue, or integrating. We will turn the need into a solution.
</p>
</div>
<div class="serial-number">
05 
</div>
</div>
</div> 
</div>


<div class="col-lg-4 col-md-6 mb-20">
<div class="services-item paste-bg">
<div class="services-icon">
<div class="image-part">
<img class="main-img" src="static/assets/images/data.png" alt="">
<img class="hover-img" src="static/assets/images/7.png" alt="">
</div>
</div>
<div class="services-content">
<div class="services-text">
<h3 class="title"><a>Assistance and Maintenance</a></h3>
</div>
<div class="services-desc">
<p>
Integrating of the product, launching new features, and developing more tools will enrich the entire project management process. 
</p>
</div>
<div class="serial-number">
06 
</div>
</div>
</div> 
</div>

 
</div> 
</div>
</div>


                
            </div>
        </div>
    </div>
</div>
 -->

 

<div class="rs-questions style1  pt-100 pb-100 md-pt-80 md-pb-80 xs-pt-30 xs-pb-70">
    <div class="container">
        <div class="row md-col-padding">
            <div class="col-lg-5 col-md-5 pr-30 md-mb-30 xs-mb-0 order-2 xs-mt-50">
            
                <div class="row gutter-20 hidden-xs">
                  <img class="bdru-40" src="/static/assets/images/ask-question.jpg" alt="">

                </div>
            </div>
            <div class="col-lg-7 col-md-7 pl-40 order-md-2 xs-pl-20">
              <div class="sec-title pr-80 mb-30 md-mb-42 md-pr-0  ">
                <div class="sub-title primary">Spg America </div>
                <h2 class="title mb-21 md-mb-10">Why Choose Us  </h2>
                <div class="desc">On the other hand we denounce with righteous indig ation hill and dislike men</div>
            </div>
                <div id="accordion" class="accordion">
                    <div class="card ">
                        <div class="card-header">
                            <a class="card-link  card-link-2 " data-toggle="collapse" href="#collapseOne">Unlimited Feedback</a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion ">
                            <div class="card-body card-body-2">On the other hand we denounce with righteous indignation hill and dislike men who are so beguiled and demoralized by and charms of pleasure of the moment so blinded.Lorem ipsum to dolor.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#collapseTwo">Project Management</a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body card-body-2">On the other hand we denounce with righteous indignation hill and dislike men who are so beguiled and demoralized by and charms of pleasure of the moment so blinded.Lorem ipsum to dolor.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#collapseThree">Collaboration</a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body card-body-2">On the other hand we denounce with righteous indignation hill and dislike men who are so beguiled and demoralized by and charms of pleasure of the moment so blinded.Lorem ipsum to dolor.</div>
                        </div>
                    </div>
                    <div class="card ">
                      <div class="card-header">
                          <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#collapseFour">Collaboration</a>
                      </div>
                      <div id="collapseFour" class="collapse" data-parent="#accordion">
                          <div class="card-body card-body-2">On the other hand we denounce with righteous indignation hill and dislike men who are so beguiled and demoralized by and charms of pleasure of the moment so blinded.Lorem ipsum to dolor.</div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
</div> 
<!-- Main content End -->
 

{% include 'footer.html' %}

</body>
 
</html>