<!DOCTYPE html>
<html lang="en">  
<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content=""> 
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>IT Staffing Consulting & USA Job Recruitment Company | SPG America</title>
<meta name="" content="" />

<meta property="og:type" content="website" />
<meta property="og:title" content="IT Staffing Consulting & USA Job Recruitment Company | SPG America" />
<meta property="og:description" content="IT Staffing Consulting & USA Job Recruitment Company" />
<meta property="og:url" content="https://www.spgamerica.com/" />
<meta property="og:site_name" content="SPG America" />
<meta property="og:image" content="https://www.spgamerica.com/static/assets/images/single-img-three.jpg" />

{% include 'topstyle.html' %}
</head>
<body class="defult-home innerp">

 

<!-- Main content Start -->
<div class="main-content">

  {% include 'header.html' %}



    

<!-- -------------about start----------------- -->
       

<div id="rs-about" class="rs-about style1 pt-80 xs-pt-40 pb-80 md-pt-60 md-pb-60  xs-pb-40 mt-100 ">
    <div class="container">
        <div class="row justify-content-between align-items-center">
   
            <div class="col-lg-12 col-md-7 pl-60 md-pl-30 xs-pl-15 md-pl-pr-15 order-md-2">
                <div class="  p-3">
                    <img  class="border-20 mx-auto d-block" src="/static/assets/images/thanks.jpg" width="300" alt="">
                </div>
                <div class="sec-title mb-23 pr-85 xs-pr-20 md-pr-10 text-center">
                   
                    <h2 class="title mb-20 txt-blu">Thank You!</h2>
                    <p class="desc mb-0 mt-2 t-font">Welcome to SPG America. We are glad you are interested in being part of SPG’s family.<br>
                        One of our talent acquisition team or an executive will contact you to provide the required information or guidance.





                    </p>
                   
                  </div>
           
             
            </div>

          
        
        </div>
        
        
    </div>
  </div>

   

 
 


 
</div> 
<!-- Main content End -->
 

{% include 'footer.html' %}

</body>
 
</html>