<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <meta name="description"
        content="Explore SPG America's ethical standards and compliance practices. Learn how we prioritize integrity. Join our commitment today!">
    <meta name="robots" content="index, follow">
    <!-- Title -->
    <title>Ethics and Compliance Framework | SPG America</title>
    <meta name="" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Ethics and Compliance Framework | SPG America" />
    <meta property="og:description"
        content="Explore SPG America's ethical standards and compliance practices. Learn how we prioritize integrity. Join our commitment today!" />
    <meta property="og:url" content="https://www.spgamerica.com/ethics-and-compliance" />
    <meta property="og:site_name" content="SPG America" />
    <meta property="og:image" content="https://www.spgamerica.com/static/assets/images/services/ethics-and-compliance/1.webp" />
    
    <link rel="canonical" href="https://www.spgamerica.com/ethics-and-compliance" />


    {% include 'topstyle.html' %}
</head>

<body class="defult-home">



    <!-- Main content Start -->
    <div class="main-content">

        {% include 'header.html' %}


        <!-- Banner Section start -->
        <div class="rs-services pt-150 bg-ethics pb-100 md-pt-80 md-pb-80 sm-pb-40 sm-pt-40">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 md-pl-14">
                        <div class="sec-title mb-15 mt-60">
                            <h1 class="m-0 text-white">Our Commitment to Integrity, Ethics and Compliance Framework</h1>
                            <div class="desc pb-30 fw-400 text-white">
                                Upholding the Highest Standards in Every Aspect of Our Operations.
                            </div>
                            <div class="btn-part">
                                <a class="banner-btn" href="{% url 'contact' %}">Discover More <svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 md-mb-30 order-md-2"> </div>
                </div>
            </div>
        </div>
        <!-- Banner Section End -->



        <!-- Key section start-->


        <div id="rs-about" class="rs-about style3 pt-80 md-pt-50 pb-80 md-mb-150 sm-mb-150 sm-pt-40">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-6 pr-85 lg-pr-50 md-pr-15">
                        <div class="sec-title mb-24">
                            <!-- <div class="sub-title green">About Us</div> -->
                            <h2 class="title mb-21">Our Guiding Principles on Ethics</h2>
                            <div class="desc">
                                Building Trust through Unwavering Ethical Standards.
                            </div>
                        </div>
                        <ul class="listing-style mb-40">
                            <li>Commitment to Integrity
                            </li>
                            <li> Respect for All</li>
                            <li>Accountable Leadership</li>
                        </ul>
                        <div class="btn-part mb-5">
                            <a class="readon" href="{% url 'contact' %}">Know More</a>
                        </div>
                    </div>
                    <div class="col-lg-6 md-order-first md-mb-30">
                        <div class="row gutter-20">
                            <div class="col-12">
                                <img src="/static/assets/images/services/ethics-and-compliance/1.webp" alt="SPG Principles">
                            </div>
                            <!-- <div class="col-6">
                                <img src="/static/assets/images/new-image.jpg" alt="Image">
                            </div>
                            <div class="col-6 mt-30">
                                <img class="mb-20" src="/static/assets/images/new-image-2.jpg" alt="Image">
                                <img src="/static/assets/images/new-image-2.jpg" alt="Image">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- start -->

        <div class="rs-pricing style1 md-pt-60 pb-0 md-pb-60 sm-pb-40 sm-pt-50 pt-0">
            <div class="top-part2 pt-93 pb-160 sm-pt-40 sm-pb-70 md-pt-60 md-pb-200">
                <div class="container">
                    <div class="row justify-content-center text-center mb-60 md-mb-20">
                        <div class="col-md-10 m-auto">
                            <div class="sec-title mb-10 xs-pb-0 xs-mb-30">
                                <p class="title ">Ensuring Excellence and Integrity through Rigorous Compliance</p>
                            </div>
                            <div class="desc desc-text mb-1">
                                Our Path to Compliance: Navigating with Principle and Precision.
                            </div>
                        </div>
                    </div>
                    <!-- <div class="sec-title">
                        <div class="sub-title">Pricing Plan</div>
                        <h2 class="title mb-0">We're providing</h2>
                        <p class="desc mb-80 mt-2">Artificial Intelligence and Machine Learning Services to <br>Optimize Your
                            Business Functions.
                        </p>
                    </div> -->
                </div>
            </div>
            <div class="">
                <div class="container">
                    <div class="row gutter-20">
                        <div class="col-md-3 mt--180 sm-mt-0 sm-mb-30">
                            <div class="pricing-wrap mb-30 w-100">
                                <div class="icon-part">
                                    <img src="/static/assets/images/services/ethics-and-compliance/adherence.webp"
                                        alt="Legal Standards">
                                </div>
                                <h5 class="title"> Adherence to Legal Standards</h5>
                                <div class="desc-t">SPG rigorously follows local,
                                    national, and international laws, ensuring our operations meet and exceed legal
                                    requirements.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mt--60 sm-mb-30">
                            <div class="pricing-wrap mb-30 pricing-wrap-2 w-100">
                                <div class="icon-part">
                                    <img src="/static/assets/images/services/ethics-and-compliance/regular-audits.webp"
                                        alt="Regular Audits">
                                </div>
                                <h5 class="title">Regular Audits and Assessments</h5>
                                <div class="desc-t">We conduct frequent audits to
                                    monitor and evaluate compliance, ensuring continuous alignment with legal and
                                    ethical standards.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mt--180 sm-mt-0 sm-mb-30">
                            <div class="pricing-wrap mb-30 w-100">
                                <div class="icon-part">
                                    <img src="/static/assets/images/services/ethics-and-compliance/training.webp"
                                        alt="Training and Awareness">
                                </div>
                                <h5 class="title">Training and Awareness</h5>
                                <div class="desc-t">SPG invests in comprehensive training
                                    programs to educate employees about compliance policies, fostering a culture of
                                    informed adherence.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mt--60 sm-mb-0 ">
                            <div class="pricing-wrap mb-30 sm-mb-0 pricing-wrap-2 w-100">
                                <div class="icon-part">
                                    <img src="/static/assets/images/services/ethics-and-compliance/responsive.webp"
                                        alt="Responsible Reporting">
                                </div>
                                <h5 class="title">Responsive and Responsible Reporting</h5>
                                <div class="desc-t">Our policy includes clear
                                    procedures for reporting and addressing non-compliance, ensuring swift and effective
                                    resolution of issues.
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-3 mt--180 sm-mt-0">
                            <div class="pricing-wrap mb-30">
                                <div class="icon-part">
                                    <img src="/static/assets/images/interview.png"
                                        alt="artificial intelligence consulting companies">
                                </div>
                                <h5 class="title">Machine Learning</h5>
                                <div class="desc-t">We always provide people a complete solution focused of any
                                    business focused of any
                                    business.</div>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-3 mt--240 sm-mt-0">
                            <div class="pricing-wrap mb-30">
                                <div class="icon-part">
                                    <img src="/static/assets/images/interview.png"
                                        alt="artificial intelligence consulting companies">
                                </div>
                                <h5 class="title">Machine Learning</h5>
                                <div class="desc-t">We always provide people a complete solution focused of any
                                    business focused of any
                                    business.</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>


        <!-- end -->


        <div id="rs-services" class="rs-services style5 pt-80 pb-80 md-pt-60 md-pb-70 xs-pt-0 xs-pb-60">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-12 col-lg-8">
                        <div class="sec-title mb-20 xs-pr-0 xs-pb-0 xs-mb-0 text-center">
                            <p class="title mb-10"> Our Code of Conduct</p>
                            <div class="desc desc-text mb-1">
                                Navigating with Integrity - Every Action, Every Day.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-20 xs-mt-20 md-mt-10">
                    <div class="col-lg-4 md-mb-30">
                        <div class="services-item">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/ethics-and-compliance/upholding.webp"
                                    alt="Upholding Professional Standards">
                            </div>
                            <div class="services-content">
                                <h3 class="services-title"><a> Upholding Professional Standards</a></h3>
                                <p class="services-desc">
                                    Our Code mandates adherence to the highest
                                    professional standards, ensuring that all activities are conducted with honesty and
                                    integrity.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 md-mb-30">
                        <div class="services-item h-100">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/ethics-and-compliance/conflict.webp" alt="Conflict of Interest Management">
                            </div>
                            <div class="services-content">
                                <h3 class="services-title"><a>Conflict of Interest Management</a></h3>
                                <p class="services-desc">

                                    We rigorously identify and manage conflicts of
                                    interest, ensuring decisions are made in the best interest of our stakeholders, free
                                    from personal bias.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="services-item h-100">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/ethics-and-compliance/respectful-workplace.webp" alt="Respectful Workplace Environment">
                            </div>
                            <div class="services-content">
                                <h3 class="services-title"><a>Respectful Workplace Environment </a></h3>
                                <p class="services-desc">
                                    We cultivate a respectful workplace, where
                                    discrimination, harassment, and any form of abuse are unequivocally unacceptable.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-4 md-mb-30">
                        <div class="services-item">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/ethics-and-compliance/confidentiality.webp" alt="Confidentiality and Data Protection">
                            </div>
                            <div class="services-content">
                                <h3 class="services-title"><a>Confidentiality and Data Protection</a></h3>
                                <p class="services-desc">
                                    Safeguarding sensitive information is
                                    paramount. We are committed to protecting the confidentiality of our clients,
                                    employees, and business data.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 md-mb-30">
                        <div class="services-item h-100">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/ethics-and-compliance/fair-and-ethical.webp" alt="Fair and Ethical Business Practices">
                            </div>
                            <div class="services-content">
                                <h3 class="services-title"><a> Fair and Ethical Business Practices</a></h3>
                                <p class="services-desc">
                                    Our Code enforces fair business practices,
                                    promoting competition and prohibiting corrupt activities like bribery and
                                    corruption.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="services-item h-100">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/ethics-and-compliance/compliance.webp" alt="Compliance with Laws and Regulations">
                            </div>
                            <div class="services-content">
                                <h3 class="services-title"><a>Compliance with Laws and Regulations</a></h3>
                                <p class="services-desc">
                                    Adherence to all applicable laws and
                                    regulations is non-negotiable. Our Code ensures we operate legally and ethically in
                                    all jurisdictions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="keys rs-about gray-bg style1 pt-80 xs-pt-60 pb-80 md-pt-60 md-pb-60 xs-pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-40 md-mb-0">
                        <div class="sec-title m md-mb-40">
                            <h2 class="title">Our Expertise</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-12 col-md-12  md-pl-30 xs-pl-15 md-pl-pr-15 order-md-2">

                        <div class="row pr-85 md-pr-0">
                            <div class="col-md-6">
                                <ul class="listing-style">
                                    <li>Cost Efficiency</li>
                                    <li>Empowering Talent</li>
                                    <li>Optimal Operating Frameworks</li>

                                </ul>
                            </div>

                            <div class="col-md-6">
                                <ul class="listing-style">
                                    <li>Strategic Technology Planning </li>
                                    <li>Change Management in Organizations</li>
                                </ul>
                            </div>

                        </div>

                    </div>


                </div>


            </div>
        </div> -->



        <!-- start -->

        <div class="rs-about style9 first-footer  pt-70 pb-80 md-pt-60 md-pb-70 sm-pt-40 sm-pb-50">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-6 pr-73 md-pr-15 md-mb-50">
                        <div class="sec-title4 mb-50 md-mb-35">
                            <!-- <span class="sub-title pb-15">About Us</span> -->
                            <h2 class="title pb-10 md-pb-10">Our Ethics and Compliance Resources
                            </h2>
                            <p class="desc">
                                Empowering Our Team with the Tools to Uphold Our Ethical Standards.</p>
                        </div>
                        <div class="services-item mb-40">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/ethics-and-compliance/comprehensive.webp" alt="images">
                            </div>
                            <div class="services-text">
                                <div class="services-title">
                                    <h3 class="title pb-8"><a>Comprehensive Ethics Training Acces.</a></h3>
                                </div>
                                <p class="services-txt"> Gain access to extensive ethics training modules and clear
                                    guidelines for ethical conduct.</p>
                            </div>
                        </div>
                        <div class="services-item">
                            <div class="services-icon">
                                <img src="/static/assets/images/services/ethics-and-compliance/ethics-reporting.webp" alt="images">
                            </div>
                            <div class="services-text">
                                <div class="services-title">
                                    <h3 class="title pb-8"><a> Ethics Reporting and Guidance Channels</a></h3>
                                </div>
                                <p class="services-txt">Utilize direct contact channels for reporting concerns and
                                    seeking guidance on ethical matters.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="image-part">
                            <img src="/static/assets/images/services/ethics-and-compliance/2.webp" alt="Ethics and Compliance Resources">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- end -->




        <!-- Key section end-->

        <div class="rs-questions style1 pt-80 pb-80 md-pt-60 md-pb-60 xs-pt-40 xs-pb-50">
            <div class="container">
                <div class="row align-items-center md-col-padding">
                    <div class="col-lg-5  col-md-5 pr-30 md-mb-30 xs-mb-0 order-2 xs-mt-50">
                        <div class="row gutter-20 hidden-xs">
                            <img class="bdru-40" src="/static/assets/images/services/ethics-and-compliance/3.webp" alt="Ethical Excellence">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 pl-40 order-md-2  xs-pl-15">
                        <div class="sec-title pr-80 mb-30 md-mb-30 md-pr-0">
                            <p class="title mb-40 md-mb-10">Focused Commitment to Ethical Excellence</p>
                        </div>
                        <div id="accordion" class="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link card-link-2" type="button" data-toggle="collapse"
                                        href="#collapseOne">
                                        Regulatory Compliance
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body card-body-2">Ensuring strict adherence
                                        to industry-specific regulations and legal standards.</div>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link card-link-2" data-toggle="collapse"
                                        href="#collapseThree">Employee Code of Conduct</a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body card-body-2">Defining clear
                                        expectations for employee behavior and ethical responsibilities.
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-header">
                                    <a class="collapsed card-link card-link-2" data-toggle="collapse"
                                        href="#collapseFour"> Transparency and Accountability</a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                    <div class="card-body card-body-2">Upholding
                                        transparency in operations and accountability for ethical lapses.</div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-header">
                                    <a class="collapsed card-link card-link-2" data-toggle="collapse"
                                        href="#collapseFive">Community and Environmental Stewardship</a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordion">
                                    <div class="card-body card-body-2">
                                        Demonstrating responsible practices in community engagement and environmental
                                        sustainability.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Why Section End -->

    </div>
    <!-- Main content End -->
    {% include 'footer.html' %}
</body>

</html>