<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
  <meta name="description"
    content="Get all the answers you need about SPG America in one place our FAQs. Don't miss out, start exploring today!">
  <meta name="robots" content="index, follow">
  <!-- Title -->
  <title>Frequently Asked Questions at SPG America</title>
  <meta name="" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Frequently Asked Questions at SPG America" />
  <meta property="og:description"
    content="Get all the answers you need about SPG America in one place our FAQs. Don't miss out, start exploring today!" />
  <meta property="og:url" content="https://www.spgamerica.com/faqs" />
  <meta property="og:site_name" content="SPG America" />
  <meta property="og:image" content="https://www.spgamerica.com/static/assets/img/CX-strategy.jpg" />

  <link rel="canonical" href="https://www.spgamerica.com/faqs" />


  {% include 'topstyle.html' %}
</head>

<body class="defult-home">



  <!-- Main content Start -->
  <div class="main-content">

    {% include 'header.html' %}

      <!-- Banner Section start -->
      <div class="rs-services pt-150 bg-faq pb-100 md-pt-100 md-pb-100 sm-pb-40 sm-pt-40">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="sec-title mb-15 mt-60">
                        <h1 class="m-0 text-white">Answers to Your Questions</h1>
                        <div class="desc pb-30 fw-400 text-white">
                          Explore our Frequently Asked Questions to find the information you need about SPG and our
                          services. From inquiries about our company's history to details on our products and customer support,
                          we've got your questions covered. Discover insights, solutions, and everything you need to know in one
                          convenient place. Your answers are just a click away!</div>
                        <div class="btn-part mb-5">
                            <a class="banner-btn" href="{% url 'contact' %}">Know More  <svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                </path>
                            </svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <div class="rs-questions style1 pt-100 pb-100 md-pt-80 md-pb-80">
      <div class="container">
        <div class="row md-col-padding">

          <div class="col-lg-12">
            <div class="sec-title2 text-center mb-45">
              <p class="title text-left">Frequently Asked Questions</p>
            </div>

            <div id="accordion" class="accordion">

              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#jobThr">What services does
                    SPG offer?</a>
                </div>

                <div id="jobThr" class="collapse" data-parent="#accordion">
                  <div class="card-body card-body-2">
                    <p>
                      SPG provides a wide range of services, including consulting, project management, and technology
                      solutions across various industries.
                    </p>
                  </div>
                </div>

              </div>




              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#jobFou"> Which industries
                    does SPG serve?</a>
                </div>

                <div id="jobFou" class="collapse" data-parent="#accordion">
                  <div class="card-body card-body-2">
                    <p>
                      SPG caters to diverse industries such as healthcare, finance, manufacturing, and technology,
                      offering tailored solutions to meet specific sector needs.

                    </p>
                  </div>
                </div>

              </div>


              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#jobOne">What sets SPG apart
                    from other consulting firms?</a>
                </div>

                <div id="jobOne" class="collapse" data-parent="#accordion">
                  <div class="card-body card-body-2">
                    <p>
                      SPG stands out for its unwavering commitment to integrity, transparency, and innovation. Our
                      client-centric approach and experienced team ensure exceptional results.
                    </p>
                  </div>
                </div>

              </div>


              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#jobTwo">
                    How can I contact SPG for inquiries or support?</a>
                </div>

                <div id="jobTwo" class="collapse" data-parent="#accordion">
                  <div class="card-body card-body-2">
                    <p>
                      You can reach out to us through our Contact Us page on the website, where you'll find
                      contact details and a convenient form to submit your query.

                    </p>
                  </div>
                </div>

              </div>


              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#jobThree">
                    What is SPG's approach to sustainability and corporate responsibility?</a>
                </div>

                <div id="jobThree" class="collapse" data-parent="#accordion">
                  <div class="card-body card-body-2">
                    <p>
                      SPG is dedicated to sustainability and corporate responsibility. We engage in eco-friendly
                      practices, support local communities, and prioritize ethical operations.
                    </p>
                  </div>
                </div>

              </div>


              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#jobFour">Where can I find
                    information about SPG's history and mission?</a>
                </div>

                <div id="jobFour" class="collapse" data-parent="#accordion">
                  <div class="card-body card-body-2">
                    <p>
                      Our "About Us" section provides a comprehensive overview of SPG's history, mission,
                      values, and commitment to excellence.

                    </p>
                  </div>
                </div>

              </div>

              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#jobFive">
                    How does SPG ensure compliance with industry regulations?</a>
                </div>

                <div id="jobFive" class="collapse" data-parent="#accordion">
                  <div class="card-body card-body-2">
                    <p>
                      SPG maintains a robust compliance policy, regularly updates its procedures, and conducts
                      thorough training to ensure strict adherence to industry regulations.
                    </p>
                  </div>
                </div>

              </div>


              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#jobSix">Can SPG help with
                    project management and implementation?</a>
                </div>

                <div id="jobSix" class="collapse" data-parent="#accordion">
                  <div class="card-body card-body-2">
                    <p>
                      Yes, SPG offers project management services, guiding clients through planning, execution,
                      and successful implementation of their projects.
                    </p>
                  </div>
                </div>

              </div>



              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#jobSeven">What resources are
                    available for employees to address ethical concerns?</a>
                </div>

                <div id="jobSeven" class="collapse" data-parent="#accordion">
                  <div class="card-body card-body-2">
                    <p>
                      SPG has established channels for employees to report ethical concerns, ensuring a safe and
                      confidential environment for addressing issues.
                    </p>
                  </div>
                </div>

              </div>


              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#jobEight">How does SPG
                    contribute to the communities it operates in?</a>
                </div>

                <div id="jobEight" class="collapse" data-parent="#accordion">
                  <div class="card-body card-body-2">
                    <p>
                  SPG actively engages in community initiatives, supporting education, healthcare, and
                      social welfare programs to make a positive impact on the communities we serve.
                    </p>
                  </div>
                </div>

              </div>




            </div>
          </div>
        </div>
      </div>
    </div>





    <!-- -------------about start----------------- -->




  </div>
  <!-- Main content End -->


  {% include 'footer.html' %}

</body>

</html>