<!DOCTYPE html>
<html lang="en">  
<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content="At Software Programming Group America, we take fraud prevention seriously. We want our customers to be aware of the risk of fraud and scams which involves usage of SPG America in their spamming texts."> 
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>Fraud Warning - Software Programming Group America</title>
<meta name="" content="" />

<meta property="og:type" content="website" />
<meta property="og:title" content="Fraud Warning - Software Programming Group America" />
<meta property="og:description" content="At Software Programming Group America, we take fraud prevention seriously. We want our customers to be aware of the risk of fraud and scams which involves usage of SPG America in their spamming texts." />
<meta property="og:url" content="https://www.spgamerica.com/fraud-warning" />
<meta property="og:site_name" content="SPG America" />
<meta property="og:image" content="https://www.spgamerica.com/static/assets/img/CX-strategy.jpg" />

<link rel="canonical" href="https://www.spgamerica.com/fraud-warning"/> 


{% include 'topstyle.html' %}
</head>
<body class="defult-home innerp">

 

<!-- Main content Start -->
<div class="main-content">

  {% include 'header.html' %}

 
  <section id="about " class="mt-200 pb-80">
    <div class="container">
    
    <div class="row">
     <div class="col-12 col-md-12 text-justify card card-body p-5"> 
      <h1 class="fw-bold text-blu font-32">  Fraud Warning</h1>

       <p>Software Programming Group understands the importance of your privacy and security. We do not ask job candidates to:</p>
    

       <div class="row pr-85">
        <div class="col-md-12">
            <ul class="listing-style">
                <li>pay any fee to work or to receive payment from us</li>
    <li>	make cash or check advancements to us or to any third party</li>
    <li>	cash checks from any sources</li>
    <li>purchase any product, service, or gift cards</li>
    <li>supply sensitive financial information such as credit card numbers or banking PIN numbers</li>
          
            </ul>
        </div>
 
       </div>
  
       <p class="pt-3">We do not make job offers to candidates or request candidates to send applications through instant messaging services such as Telegram. We also will not ask for any government identification numbers, such as Social Security Numbers, banking or payment information on any instant messaging services. We will not post jobs on freelance platforms, such as Fiverr or Upwork, and will not connect with job applicants through such platforms.
      </p>
      <p  >We do not send or ask for money through mobile payment apps or digital wallet platforms, such as GCash, Skrill, Shopify, or Google Pay, and we will never make or request payments via cryptocurrency.
      </p>
       <p>Software Programming Group does not hire candidates for jobs in countries where we are not authorized to operate. Please click on the drop-down menu below to see the list of countries Software Programming Group operates in.
      </p>
       <p  >Please be aware that if you receive any requests like the ones described above, it is likely a form of fraud. Please contact us if you think someone is using Software Programming Group’s name to request this type of information.
      </p>
        
       <h3 class="western">What to do if you suspect fraud</h3>
       <p>Please contact our Customer Loyalty Team at   if you receive any suspicious communications that reference Software Programming Group or any of our practice groups. Suspicious communications include those asking for personal information or requesting to pay via email, instant messaging or social media.
      </p>

       
     
       
    
    
    </div>
      
    
    </div>
    
    
    </div>
    
    
    </section>
 
          </div>
      
<!-- Main content End -->
 

{% include 'footer.html' %}

</body>
 
</html>