<!DOCTYPE html>
<html lang="en">  
<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content="Technical training programs in all core technical concepts, providing appropriate skills and increase the standards of  efficiency and productivity."> 
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>Technical training center - A leading talent providers-SPG</title>
<meta name="" content="" />

<meta property="og:type" content="website" />
<meta property="og:title" content="Technical training center - A leading talent providers-SPG" />
<meta property="og:description" content="Technical training programs in all core technical concepts, providing appropriate skills and increase the standards of  efficiency and productivity." />
<meta property="og:url" content="https://www.spgamerica.com/technical-training-programs" />
<meta property="og:site_name" content="SPG America" />
<meta property="og:image" content="https://www.spgamerica.com/static/assets/images/training-placement.jpg" />

<link rel="canonical" href="https://www.spgamerica.com/technical-training-programs"/> 


{% include 'topstyle.html' %}
</head>
<body class="defult-home innerp">

 

<!-- Main content Start -->
<div class="main-content">

  {% include 'header.html' %}


<!-- Banner Section Start -->
  <div class="rs-banner bg-digital pt-200 pb-120 md-pt-150 md-pb-150" >
    <div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-5">
        <div class="banner-content  ">
             <h1 class="title text-white ">Technical training 
               </h1>
               <p class="title-small d-block text-white ">
                SPG has a vast range of expertise in technical training. We expand our services and workforce by providing proper training in core technical concepts like .Net, java, Application development, QTP, PHP, etc and many more. SPG truly believes in polishing the talents before putting them to right use.  
              </p> 
             
    
</div>
</div>
  <div class="col-md-6">
    <img src="static/assets/images/technical-training.png" class="img-fluid" alt="Technical Training services nj usa">
    </div>
    </div>
    </div>
    <div class="arrow-btn hidden-sm">
      <a href="#rs-services">
     <span class="up-down"></span>
     </a>
   </div>
    </div> 

 
    <!-- Banner Section End -->
    

<!-- -------------about start----------------- -->


<div id="rs-about" class="rs-about style1 pt-90 xs-pt-50 pb-90 md-pt-60 md-pb-60  xs-pb-50 ">
    <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5 col-md-5 order-2 xs-pt-20">
            
                <img class="img-fluid" src="/static/assets/images/training-placement.jpg" alt="opt training">
          
    </div>
            <div class="col-lg-7 col-md-7 pl-60 md-pl-30 xs-pl-15 md-pl-pr-15 order-md-2">
                <div class="sec-title mb-23 pr-85 xs-pr-20 md-pr-10">
                   
                    <h2 class="title mb-20">OPT CPT Training and Placement</h2>
                    <p class="desc mb-0 mt-2">Training finds a very special and important place in our business process. Designed and delivered by the leading industry experts, all our training schedules are overseen by experienced and competent faculty members.
                    </p>
                    <p class="desc mb-0 mt-2">We have seen a lot of undeniable success executed by the students on Optional Practical Training, Curricular Practical Training, who have found their suitable jobs through our training and placement process. We today, stand as one of the leading talent providers in skills that include Java, .NET, SQL Server, Performance Testing, QTP & QA, and Business Analyst.

                    </p>
                    <h5 class="mb-0 mt-3">Training Highlights:  </h5>
                  </div>
                  <div class="row pr-85 md-pr-0">
                    <div class="col-md-12">
                       
                        <ul class="listing-style">
                            <li>Free of Cost (FoF) training and accommodation.
                            </li>
                            <li>Expenses cover for relocations to our training facility.
                            </li>
                            <li>Trainers with decades of industry experience in Fortune 500 companies.
                            </li>
                            <li>Training facility with fully equipped labs and knowledge material
                            </li>
                        </ul>
                    </div>
     
                   </div>
             
            </div>
            
        
        </div>
        
        
    </div>
  </div>


 
<!-- -------------about end----------------- -->
 
 
 

<div class="rs-questions style1    pb-100 md-pt-20 md-pb-80 xs-pt-0 md-pt-0">
    <div class="container">
        <div class="row md-col-padding">
       
            <div class="col-lg-12 pl-40 xs-pl-20">
           
                <div id="accordion" class="accordion">

<div class="card">
<div class="card-header"> 

<a class="card-link card-link-2" type="button" data-toggle="collapse" href="#collapseOne">
Java/J2EE/Web Services
</a>

</div>
<div id="collapseOne" class="collapse show" data-parent="#accordion">
<div class="card-body card-body-2">We offer training and placement in Java Development. Our training is customized for each candidate needs and a detailed course of 5 weeks will cover from basics to advanced Java concepts.</div>
</div>
</div>


                    
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#collapseTwo">  .NET</a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body card-body-2">This training helps you to gain knowledge on .NET framework, XML Web Services, including allied Microsoft technologies, making you industry ready.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#collapseThree">iPhone/iPad/Android Mobile Development</a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body card-body-2">
                                Mobile Applications Development requires cumulative knowledge from the most basic to advance concepts of a programming knowledge. A training in mobile development, allows you to get well versed as per the peak industry standards.</div>
                        </div>
                    </div>
                    <div class="card ">
                      <div class="card-header">
                          <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#collapseFour">QA/LoadRunner/QTP</a>
                      </div>
                      <div id="collapseFour" class="collapse" data-parent="#accordion">
                          <div class="card-body card-body-2">
                            Testing involves critical skills and finds a very important place in today's era of business and entrepreneurial environment. Expert training in automation testing helps you gain ground in this field.</div>
                      </div>
                  </div>
                  <div class="card ">
                    <div class="card-header">
                        <a class="collapsed card-link card-link-2" data-toggle="collapse" href="#collapseFive">PHP/MySQL, Drupal</a>
                    </div>
                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                        <div class="card-body card-body-2">

                            These technologies are related to databases and allied web services. If this is where you are interested in, our training offers exclusive coverage on these skills to help you find the job you are fascinated with.                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="rs-about" class="rs-about style1 pt-90 xs-pt-50 pb-90 md-pt-60 md-pb-60  xs-pb-50 gray-bg mt-5">
    <div class="container">
        <div class="row justify-content-between align-items-center">
   
            <div class="col-lg-7 col-md-7 pl-60 md-pl-30 xs-pl-15 md-pl-pr-15 order-md-2">
                <div class="sec-title mb-23 pr-85 xs-pr-20 md-pr-10">
                   
                    <p class="title mb-20"> Career Counselling
                    </p>
                    <p class="desc mb-0  mt-2">Our expertise in recruitment for over years and our expedient knowledge base in career sciences has enabled us to stage a platform for the job seekers to get a job which suits them and helps in career progression.
                        At SPG America we have incorporated highest standards of talent acquisition and this requires a stringent career counselling to place them where they belong. We address all your short or long term career objectives and help you gain ground in the world of career.
                        </p>
                        <p class="desc mb-0 mt-2">We understand the sensibilities and factors involved with every progressive individual. Our experience with industry experts has led us to understand the importance of personal life and its hold over career options. At our company we shall help you with industry class career counselling to help you make better choices and excel in life.
                            To avail our free career counselling, in terms of, career planning, job shift, salary structure, compensation, et al, you can sit down with us anytime by having prior appointment with one of our career counsellor.
                            </p>
                   
                  </div>
                 
             
            </div><div class="col-lg-5 col-md-5 order-2 xs-pt-20">
            <div class="  p-3">
                <img class="bdru-40 img-fluid" src="/static/assets/images/career-counselling.jpg" alt="it consulting services">
            </div>
    </div>
                   
        
        </div>
        
        
    </div>
  </div>


  <div id="rs-about" class="rs-about style1 pt-90 xs-pt-50 pb-0 md-pt-60 md-pb-60  xs-pb-50 ">
    <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-5 col-md-5 order-2 xs-pt-20">
            <div class="with-border p-3">
                <img class="img-fluid" src="/static/assets/images/single-img-ten.jpg" alt="software company services">
          </div>
    </div>
            <div class="col-lg-7 col-md-7 pl-60 md-pl-30 xs-pl-15 md-pl-pr-15 order-md-2">
                <div class="sec-title mb-23 pr-85 xs-pr-20 md-pr-10">
                   
                    <p class="title mb-20">Customized Training </p>
                    <p class="desc mb-0 mt-2">SPG America, with its years of rich experience and expertise has always believed and reinforced values of knowledge and skills in their candidates. Having been in the industrial field since long, we understand the kind of skill honing that is required on the site or during a project. We implement, motivate candidates and train them with instructional design, educational psychology, and cognitive psychology for a competitive edge for excellence in project management, quality management, and leadership skills. </p>
                    <p class="desc mb-0 mt-2">The knowledge base we have designed and the implementation techniques we use to hone the skills which drive excellence in our candidates has been our age old goal. Newer products and newer technology demands, creative management and rational thinking, which is aptly fulfilled by our in-house training resources. We have imbibed the principles and importance of, continuous learning to meet the demands of competent man power and abilities posed by newer technologies, outclassing in the grand pitch of career development.

                    </p>
                  </div>
        
             
            </div>
            
        
        </div>
        
        
    </div>
  </div>
 
 
</div> 
<!-- Main content End -->
 

{% include 'footer.html' %}

</body>
 
</html>