<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Business Phone Services | Vitel Global</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
<meta name="robots" content="noindex, nofollow" />
  <!-- Favicons -->
  <link href="https://www.vitelglobal.com/static/assets/img/favicon.webp" rel="icon" />


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets2/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets2/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets2/css/style.css" rel="stylesheet">
  <link href="static/assets2/css/responsive.css" rel="stylesheet">

  <!-- Meta Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '669235138129499');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=669235138129499&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Meta Pixel Code -->

  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "l1kwgtxavm");
  </script>

<style type="text/css">
  .topm{background:#ee751d; padding:8px!important; border-radius:6px; display:block; }
  .fixfoot{position:fixed; z-index:99; width:calc(100% - 20px); left:5px; bottom:20px; display:none}
  .fixfoot a{background: #ee751d;
    padding: 8px!important;
    border-radius: 6px;
    display: block; color:#fff; text-align:center; font-size:18px;
}
@media (max-width: 575px){
.fixfoot{
    display: block;
}
}
</style>
</head>


<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <a class="logo">
        <img src="https://www.vitelglobal.in/emailtem/img/vitel-logo.png">
      </a>
      <!-- navbar -->
      <nav id="navbar" class="navbar d-flex align-items-center">
        <ul class="">
          <li><a class="topm" data-bs-toggle="modal" data-bs-target="#exampleModal">Request Demo</a></li>
          <li>
            <a target="_blank" href="https://wa.me/17323338688?text=Hello">
              <svg width="24" height="24" fill="none" stroke="currentColor" class="me-2" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="1.6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m3 20.999 1.65-3.8a9 9 0 1 1 3.4 2.9l-5.05.9"></path>
                <path d="M9 10a.5.5 0 0 0 1 0V9a.5.5 0 1 0-1 0v1Zm0 0a5 5 0 0 0 5 5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0 0 1">
                </path>
              </svg>
              +1 732-333-8688
            </a>
          </li>
        </ul>
        <a target="_blank" href="https://wa.me/17323338688?text=Hello" class="d-block d-sm-none">
          <svg width="24" height="24" fill="none" stroke="currentColor" class="me-2" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="1.6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="m3 20.999 1.65-3.8a9 9 0 1 1 3.4 2.9l-5.05.9"></path>
            <path d="M9 10a.5.5 0 0 0 1 0V9a.5.5 0 1 0-1 0v1Zm0 0a5 5 0 0 0 5 5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0 0 1">
            </path>
          </svg>
        </a>
      </nav>
      <!-- /navbar -->
    </div>
  </header>
  <!-- End Header -->

  <main id="main">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-between main-hero">
      <div class="container">
        <div class="row align-items-center justify-content-evenly">
          <div class="col-xl-7 col-lg-7 pt-3 pt-lg-0 d-flex flex-column justify-content-start">

            <div class="main-head">
              <h1 class="pt-1">The Smart Business Phone Service that aligns with your communicational goals</h1>
              <p class="text-white">Vitel Global Communications presents an advanced business phone system designed to
                meet the dynamic needs of modern enterprises.</p>
            </div>

            <div class="ftco-footer-widget footer-contact mb-2">
              <h3 class="ftco-heading-2 pb-1">Fill in your Details Below and Boost Your Business Communication Right
                Now!</h3>
              <div class="w-100 border-0">
                <form method="POST" action="{% url 'land-business-phone' %}" id="LandingPageForm"
                  onsubmit="return LandingPage();">
                  {% csrf_token %}
                  <div class="row justify-content-end">
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="fname" name="fname" placeholder="Name *"
                        value="{{ form.data.fname}}" />
                      <div id="error1" style="display: none"></div>
                    </div>
                    <div class="col-lg-6">
                      <input title="" type="text" class="form-control" id="phoneno" name="phoneno"
                        placeholder="Phone No. *" maxlength="20" minlength="10" value="{{ form.data.phoneno}}" />
                      <div id="error2" style="display: none"></div>
                    </div>
                  </div>
                  <input type="text" class="form-control" id="comp" name="comp" placeholder=" Company Name*"
                    value="{{ form.data.comp}}" />
                  <div id="error3" style="display: none"></div>
                  <input type="text" class="form-control" id="email" name="email" placeholder="Email ID *"
                    value="{{ form.data.email}}" />
                  <div id="error4" style="display: none"></div>
                  <div class="buttoncontainer mt-4">
                    <button type="submit" id="GetQuoteButton" class="button">Get Quote</button>
                  </div>
                </form>
              </div>
            </div>

           <!--  <div class="ftco-footer-widget footer-contact mb-4">
              <hr class="horizontal-line d-none d-lg-block">
              <h3 class="ftco-heading-2 pb-1">Sign Up for a FREE Live Demo to know more! </h3>
              <div class="w-100 border-0" id="contact-form">
                <div class="form1">
                  <div class="buttoncontainer mt-4">
                    <button class="request-demo-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Request Demo
                      Now</button>
                  </div>
                </div>
              </div>
            </div> -->

          </div>
          <div class="col-xl-5 col-lg-5  hero-img  d-flex justify-content-end" data-aos="zoom-in" data-aos-delay="150">
            
             <video  width="100%" height="auto" autoplay muted loop controls preload="metadata">
    <source src="static/assets2/img/landing-video.webm" type="video/mp4"> Your browser does not support the video tag.
  </video>

          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->


    <section class="events-sec">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="caption text-center">
              <h2>Discover the Customized Features of Vitel Global VoIP Services</h2>
              <p>Set of productivity features to enhance your business growth. </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="person-events-sec h-100">
              <h4 class="">Unified Communications Suite</h4>
              <p class="">Experience seamless integration of voice, video, messaging, and file sharing with Vitel
                Global's Unified Communications Suite. This powerful feature allows your team to collaborate more
                effectively.
              </p>
              <a href="#hero" class="event-btn">Explore Now</a>
              <div class="media mt-4">
                <video autoplay muted loop controls>
                  <source src="static/assets2/img/about-vg-introdution.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="virtual-events-sec h-100">
              <h4 class="">Advanced Call Management</h4>
              <p class="">Take control of your business calls with Vitel Global's Advanced Call Management system. Our
                intuitive platform offers features such as call forwarding, call recording, and
                voicemail-to-email, ensuring that you never miss a critical call. </p>
              <a href="#hero" class="event-btn">Explore Now</a>
              <div class="media mt-4">
                <video autoplay muted loop controls>
                  <source src="static/assets2/img/02-vg-video.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="hybrid-events-sec h-100">
              <h4 class="">Cloud-Based Flexibility</h4>
              <p class="">Leverage the power of the cloud with Vitel Global's VoIP services. Our cloud-based system
                offers unparalleled flexibility and scalability, allowing your business to adjust its communication
                capabilities as it grows.</p>
              <a href="#hero" class="event-btn">Explore Now</a>
              <div class="media mt-4">
                <video autoplay muted loop controls>
                  <source src="static/assets2/img/03-video-info.mp4" type="video/webm" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="strip-sec section-bg align-items-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 lg-pr-40 pr-0">
            <h2>
              Flexible VoIP Solutions Tailored for Your Business</h2>
          </div>
          <div class="col-lg-7">
            <p>
              Every business is unique, and so are your communication needs. At Vitel Global Communications, we offer
              customizable VoIP solutions tailored to fit your specific requirements. Enjoy the flexibility of a service
              that adapts to your business, not the other way around. Our feature-centric solutions will make you excel
              in the business conferences.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- slider animation starts -->
    <section class="slider-sec">
      <div class="container">
        <div class="row align-items-center mb-2 lg-mb-5">
          <div class="col-xl-5 col-lg-6 lg-pr-40 pr-0">
            <div class="sub-head">
              <span class="text-white">Desktop and Mobile Applications </span>
              <h2>Interactive Dashboard for Increased Productivity</h2>
            </div>
          </div>
          <div class="col-xl-7 col-lg-6">
            <p>
              Access to all the features of calling and texting on the applications provided by Vitel Global
              Communications.
              Our goal is to provide you a seamless business phone connectivity.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 m-auto">
            <img id="image" src="static/assets2/img/dashboard_1.webp" alt="image">
          </div>
        </div>
      </div>
    </section>
    <!-- slider animation ends -->


    <section id="about" class="about">
      <div class="container">
        <div class="row align-items-center justify-content-between lg-mb-4 mb-50">
          <div class="col-xl-6 col-lg-6 col-md-6 pt-4 pt-lg-0 content lg-pr-40 pr-0">
            <span>Connect, Integrate, Excel</span>
            <h2>Full Potential of Your Business with Vitel Global's Integrations</h2>
            <p>
              Vitel Global's advanced integration solutions are designed to seamlessly blend with your existing business
              tools, including Customer Relationship Management (CRM) systems, Applicant Tracking Systems (ATS), and
              more, ensuring a unified platform that enhances efficiency and productivity across all levels of your
              organization.
            </p>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 mt-3 mt-md-0" data-aos="zoom-in">
            <img src="static/assets2/img/crystal-clear-voice-4.webp" class="img-fluid" alt="">
          </div>
        </div>
        <div class="row align-items-center justify-content-between lg-mb-4 mb-30">
          <div class="col-xl-6 col-lg-6 col-md-6 lg-pr-40 order-2 order-md-1 mt-3 mt-md-0" data-aos="zoom-in">
            <img src="static/assets2/img/seamless-multi-device-2.webp" class="img-fluid" alt="">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 pt-4 pt-lg-0 content order-1 order-md-2">
            <span>Connect Globally, Operate Locally</span>
            <h2>Expand Your Global Reach with Vitel Global's International Business Phone Solutions</h2>
            <p>
              Vitel Global's international calling solutions empower your business to establish a local presence in over
              50 countries without the need for physical offices. Our virtual numbers and local caller ID features allow
              you to connect with clients worldwide, offering them the convenience of reaching out to a local number.
              This capability not only enhances your global reach but also builds trust and credibility among
              international clients.
            </p>
          </div>
        </div>
        <div class="row align-items-center justify-content-between lg-mb-4 mb-30">
          <div class="col-xl-6 col-lg-6 col-md-6 pt-4 pt-lg-0 content lg-pr-40 pr-0">
            <span>Calling</span>
            <h2>Robust Call Management Tools</h2>
            <p>
              Take control of your communications with powerful call management features. From intelligent call routing
              to easy-to-use conference calls,
              streamline your business conversations effortlessly.
            </p>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 mt-3 mt-md-0" data-aos="zoom-in">
            <img src="static/assets2/img/robust-call-management.webp" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>



    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">
        <h2 class="text-center">Awards | Recognitions | Partnerships | Associate Partnerships | Compliances</h2>
        <div class="row">
          <div class="col-lg-12">
            <div>
              <ul class="logo-img d-flex flex-wrap justify-content-center">
                <li> <img src="static/assets2/img/inc-5000.webp" width="200" height="200" alt="inc5000"></li>
                <li><img src="static/assets2/img/hippa.webp" width="200" height="200" alt="hippa"></li>
                <li><img src="static/assets2/img/usa-cricket.webp" width="200" height="200" alt="usa-cricket"></li>
                <li><img src="static/assets2/img/NYCFC-2023.webp" width="200" height="200" alt="NYCFC"></li>

                <li><img src="static/assets2/img/us-chamber02.webp" width="200" height="200" alt="us-chamber02"></li>
                <li><img src="static/assets2/img/piscataway.webp" width="200" height="200" alt="piscataway"></li>
                <li><img src="static/assets2/img/cio-coverage.webp" width="200" height="200" alt="cio-coverage"></li>
                <li><img src="static/assets2/img/cio.webp" width="200" height="200" alt="cio"></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Counts Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">
        <div class="section-title">
          <h2>Testimonials</h2>
        </div>
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row align-items-center">
                  <div class="col-lg-7">
                    <p>
                      <svg width="30" height="30" fill="none" stroke="currentColor" class="quote-icon-left"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 11H6a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1"></path>
                        <path d="M19 11h-4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1"></path>
                        <path d="M10 7v6c0 2.667-1.333 4.333-4 5"></path>
                        <path d="M19 7v6c0 2.667-1.333 4.333-4 5"></path>
                      </svg>
                      Fantastic work has been done by Vitel Global Communications. We do not need to search for more
                      service suppliers. Their amazing prices and level of service are truly outstanding.
                      We frequently purchase new phones from Vitel Global Communications,
                      and they always deliver them so quickly that we can start using them right away.
                    </p>
                    <h5>~ Maze Software Solutions</h5>
                  </div>
                  <div class="col-lg-5">
                    <img src="static/assets2/img/testimonial-1.webp" class="testimonial-img img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row align-items-center">
                  <div class="col-lg-7">
                    <p>
                      <svg width="30" height="30" fill="none" stroke="currentColor" class="quote-icon-left"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 11H6a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1"></path>
                        <path d="M19 11h-4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1"></path>
                        <path d="M10 7v6c0 2.667-1.333 4.333-4 5"></path>
                        <path d="M19 7v6c0 2.667-1.333 4.333-4 5"></path>
                      </svg>
                      Excellent customer service is offered by Vitel Global Communications, and their communicational
                      tools perform well. It is simple to understand and employ. My organization in New York City
                      began utilizing Vitel Global a few years ago after conducting a thorough investigation into Cloud
                      VoIP Services.
                    </p>
                    <h5>~ DAMU Technologies</h5>
                  </div>
                  <div class="col-lg-5">
                    <img src="static/assets2/img/testimonial-2.webp" class="testimonial-img img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row align-items-center">
                  <div class="col-lg-7">
                    <p>
                      <svg width="30" height="30" fill="none" stroke="currentColor" class="quote-icon-left"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 11H6a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1"></path>
                        <path d="M19 11h-4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1"></path>
                        <path d="M10 7v6c0 2.667-1.333 4.333-4 5"></path>
                        <path d="M19 7v6c0 2.667-1.333 4.333-4 5"></path>
                      </svg>
                      I have been with Vitel Global Communications for three years. They have excellent customer service
                      and flexibility.
                      Anything about VoIP is always welcome from them.
                    </p>
                    <h5>~ Sofia’s Law Office</h5>
                  </div>
                  <div class="col-lg-5">
                    <img src="static/assets2/img/testimonial-3.webp" class="testimonial-img img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>
            <!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    <!-- End Testimonials Section -->


    <section class="backstage-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="organizers-sec h-100">
              <span class="text-white">Small Business Solutions</span>
              <h2 class="text-white">Tailored VoIP Solutions for Small Business Growth</h2>
              <p class="text-white">
                At Vitel Global Communications, we understand the unique challenges faced by small businesses. That's
                why our VoIP solutions are designed to be as dynamic and adaptable as your small business.
                Enjoy features like Business MMS, advanced call management,
                and seamless communication, all at an affordable price.
              </p>
              <a href="#hero" class="read-more text-white">Read More
                <svg width="26" height="26" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 12h14"></path>
                  <path d="m15 16 4-4"></path>
                  <path d="m15 8 4 4"></path>
                </svg>
              </a>
              <p>
                <a href="https://apps.apple.com/in/app/vitelglobal/id1144112653" target="_blanck">
                  <img src="https://www.vitelglobal.com/static/assets/images/ios-app.webp" alt="ios-app"
                    class="ios-app-img">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.vitelglobal.vitelgloabalapp.android"
                  target="_blanck">
                  <img src="https://www.vitelglobal.com/static/assets/images/gplay.webp" alt="google play"
                    class="google-play-img">
                </a>
              </p>
              <div class="small-business-img-sec">
                <img src="static/assets2/img/small-business-solutions-1.webp" class="h-100 img-fluid">
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="attendees-sec h-100">
              <span class="text-white">Large Enterprise Solutions</span>
              <h2 class="text-white">Advanced VoIP Services for the Modern Enterprise</h2>
              <p class="text-white">
                In the fast-paced world of large enterprises, communication is key to success. Vitel Global
                Communications offers cutting-edge VoIP services designed to meet the complex and diverse
                needs of your large enterprise. Our robust solutions include Business MMS, high-capacity call handling,
                and unparalleled security to protect your sensitive information.
              </p>
              <a href="#hero" class="read-more text-white">Read More
                <svg width="26" height="26" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 12h14"></path>
                  <path d="m15 16 4-4"></path>
                  <path d="m15 8 4 4"></path>
                </svg>
              </a>
              <p>
                <a href="https://apps.apple.com/in/app/vitelglobal/id1144112653" target="_blanck">
                  <img src="https://www.vitelglobal.com/static/assets/images/ios-app.webp" alt="ios-app"
                    class="ios-app-img">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.vitelglobal.vitelgloabalapp.android"
                  target="_blanck">
                  <img src="https://www.vitelglobal.com/static/assets/images/gplay.webp" alt="google play"
                    class="google-play-img">
                </a>
              </p>
              <div class="large-enterprise-img-sec">
                <img src="static/assets2/img/large-enterprise-solutions-2.webp" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Expert Answers to Your VoIP Technical Questions</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
              <svg width="24" height="24" fill="none" stroke="#000053" class="icon-help" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="1.8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Z"></path>
                <path d="M12 17v.01"></path>
                <path d="M12 13.497a1.5 1.5 0 0 1 1-1.5 2.6 2.6 0 1 0-3-4"></path>
              </svg>
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is VoIP and how does it
                work?
                <svg width="18" height="18" fill="none" stroke="currentColor" class="icon-show" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
                <svg width="18" height="18" fill="none" stroke="currentColor" class="icon-close" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m6 15 6-6 6 6"></path>
                </svg>
              </a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  VoIP stands for Voice over Internet Protocol. It is a technology that allows you to make voice calls
                  using a broadband
                  Internet connection instead of a regular phone line. VoIP converts your voice into a digital signal
                  that travels over the Internet. If you are calling a regular phone number, the signal is
                  converted to a regular telephone signal before it reaches the destination.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <svg width="24" height="24" fill="none" stroke="#000053" class="icon-help" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="1.8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Z"></path>
                <path d="M12 17v.01"></path>
                <path d="M12 13.497a1.5 1.5 0 0 1 1-1.5 2.6 2.6 0 1 0-3-4"></path>
              </svg>
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">What are the requirements to
                use VoIP?
                <svg width="18" height="18" fill="none" stroke="currentColor" class="icon-show" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
                <svg width="18" height="18" fill="none" stroke="currentColor" class="icon-close" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m6 15 6-6 6 6"></path>
                </svg>
              </a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  To use VoIP, you need a high-speed internet connection, such as DSL or cable, a VoIP phone or a
                  regular phone with an adapter, or a computer with VoIP software. It's also important to have a stable
                  and sufficient internet speed to ensure call quality.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <svg width="24" height="24" fill="none" stroke="#000053" class="icon-help" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="1.8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Z"></path>
                <path d="M12 17v.01"></path>
                <path d="M12 13.497a1.5 1.5 0 0 1 1-1.5 2.6 2.6 0 1 0-3-4"></path>
              </svg>
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Can I use my regular phone for
                VoIP?
                <svg width="18" height="18" fill="none" stroke="currentColor" class="icon-show" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
                <svg width="18" height="18" fill="none" stroke="currentColor" class="icon-close" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m6 15 6-6 6 6"></path>
                </svg>
              </a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, you can use your regular phone for VoIP with the help of a VoIP adapter. This adapter connects
                  your analog phone to your VoIP service, allowing you to make and receive VoIP calls.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <svg width="24" height="24" fill="none" stroke="#000053" class="icon-help" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="1.8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Z"></path>
                <path d="M12 17v.01"></path>
                <path d="M12 13.497a1.5 1.5 0 0 1 1-1.5 2.6 2.6 0 1 0-3-4"></path>
              </svg>
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">How does VoIP differ from
                traditional phone service?
                <svg width="18" height="18" fill="none" stroke="currentColor" class="icon-show" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
                <svg width="18" height="18" fill="none" stroke="currentColor" class="icon-close" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m6 15 6-6 6 6"></path>
                </svg>
              </a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Unlike traditional phone services that use dedicated copper lines, VoIP uses the Internet to transmit
                  calls. This allows for more features, flexibility, and often lower costs. However, it also means that
                  VoIP depends on having a stable internet connection.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <svg width="24" height="24" fill="none" stroke="#000053" class="icon-help" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="1.8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Z"></path>
                <path d="M12 17v.01"></path>
                <path d="M12 13.497a1.5 1.5 0 0 1 1-1.5 2.6 2.6 0 1 0-3-4"></path>
              </svg>
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Can I keep my current phone
                number when switching to VoIP?
                <svg width="18" height="18" fill="none" stroke="currentColor" class="icon-show" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
                <svg width="18" height="18" fill="none" stroke="currentColor" class="icon-close" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m6 15 6-6 6 6"></path>
                </svg>
              </a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  In most cases, yes. Many VoIP providers offer number portability, which allows you to keep your
                  existing phone number when you switch to their VoIP service.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section>
    <!-- End Frequently Asked Questions Section -->
  </main>
  <!-- End #main -->


  <!-- Modal start -->
  <section class="modal-sec">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="d-flex justify-content-end">
            <!-- <svg class="pointer" data-bs-dismiss="modal" aria-label="Close" xmlns="http://www.w3.org/2000/svg"
              width="30" height="30" fill="#fff" class="bi bi-x" viewBox="0 0 16 16">
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg> -->
            <svg width="24" height="24" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="1.6" viewBox="0 0 24 24" class="pointer" data-bs-dismiss="modal" aria-label="Close"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M18 6 6 18"></path>
              <path d="m6 6 12 12"></path>
            </svg>
          </div>
          <div class="modal-body p-2 bg-white">
            <div class="container">
              <div class="col-xl-12 col-lg-12 hero-img m-auto" data-aos="zoom-in" data-aos-delay="150">
                <div class="signincontainer w-100">
                  <div class="row">
                    <div class="col-lg-12 pt-1 pb-1">
                      <h5 class="request-demo-text">Choose Your Preferred date and time and we will get in touch with
                        you</h5>
                      <form method="POST" action="{% url 'request-demo-now' %}" id="RequestDemoNow"
                        onsubmit="return RequestDemo();">
                        {% csrf_token %}
                        <div class="form-field mt-2 mb-2 mb-md-4">
                          <label for="birthday" class="pb-1">Select the slot <span style="color:red">*</span></label>
                          <input class="form-control input class_of_input_field" type="date" name="date" id="date"
                            value="{{ form.data.date}}" />
                          <div id="verror1" style="display: none"></div>
                        </div>
                        <div class="form-field mb-2 mb-md-4">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="time" id="time1" value="15:00">
                            <label class="form-check-label" for="inlineRadio1">3:00 PM EST</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="time" id="time2" value="16:00">
                            <label class="form-check-label" for="inlineRadio2">4:00 PM EST</label>
                            <div id="verror2" style="display: none"></div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6 col-md-6">
                            <div class="form-field mb-2 mb-md-4">
                              <label for="name" class="pb-2 modal-label-txt">Name</label>
                              <input type="text" class="form-control" id="uname" name="uname" placeholder="Name *"
                                value="{{ form.data.uname}}" />
                              <div id="verror3" style="display: none"></div>

                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="form-field mb-2 mb-md-4">
                              <label for="phonenumber" class="pb-2 modal-label-txt">Phone Number</label>
                              <input type="text" class="form-control" id="phonenumber" name="phonenumber"
                                placeholder="Phone Number *" maxlength="20" minlength="10"
                                value="{{ form.data.phonenumber}}" />
                              <div id="verror4" style="display: none"></div>
                            </div>
                          </div>
                        </div>
                        <div class="form-field mb-2 mb-md-4">
                          <label for="email" class="pb-1">Email <span style="color:red">*</span></label>
                          <input type="text" class="form-control" id="demail" name="demail" placeholder="Email ID *"
                            value="{{ form.data.demail}}" />
                          <div id="verror5" style="display: none"></div>
                        </div>

                    </div>
                    <button type="submit" id="liveDemoButton" style="background: #04046f; color: #fff;"
                      class="button submit-btn">Submit</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>

  <style type="text/css">
    .modal-content {
      background: none !important;
    }

    .pointer {
      cursor: pointer;
    }
  </style>
  <!-- Modal end -->

<div class="fixfoot"><a class="" data-bs-toggle="modal" data-bs-target="#exampleModal">Request Demo</a></div>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 footer-contact">
            <a class="logo">
              <img src="https://www.vitelglobal.in/emailtem/img/vitel-logo.png">
            </a>
            <p class="mt-3 ms-2">
              Vitel Global Communications offers VoIP Services for businesses of all sizes. Pioneering in seamless
              Business MMS and advanced
              telecommunication services.
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links mt-3 ms-2 ms-sm-0">
            <h4>Contact Info</h4>
            <ul class="d-flex  flex-column align-items-start">
              <li class="d-flex align-items-start mt-1">
                <a target="_blank" href="https://wa.me/17323338688?text=Hello">
                  <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m3 20.999 1.65-3.8a9 9 0 1 1 3.4 2.9l-5.05.9"></path>
                    <path
                      d="M9 10a.5.5 0 0 0 1 0V9a.5.5 0 1 0-1 0v1Zm0 0a5 5 0 0 0 5 5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0 0 1">
                    </path>
                  </svg>
                  +1 732-333-8688
                </a>
              </li>
              <li class="d-flex align-items-start mt-1">
                <a href="mailto:info@vitelglobal.com">
                  <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 5H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2Z"></path>
                    <path d="m3 7 9 6 9-6"></path>
                  </svg>
                  info@vitelglobal.com</a>
              </li>
              <li class="d-flex align-items-start mt-1">
                <a href="tel:8555584835">
                  <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5 4h4l2 5-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2">
                    </path>
                  </svg>
                  855-558-4835
                </a>
              </li>
              <li class="d-flex align-items-start mt-1">
                <a href="tel:7324443132">
                  <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5 4h4l2 5-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2">
                    </path>
                  </svg>
                  732-444-3132
                </a>
              </li>
              <li class="d-flex align-items-start mt-1">
                <a href="tel:7324443436">
                  <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5 4h4l2 5-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2">
                    </path>
                  </svg>
                  732-444-3436
                </a>
              </li>

            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links mt-3 ms-2 ms-sm-0">
            <h4>Address</h4>
            <ul class="d-flex align-items-center">
              <li class="d-flex align-items-start">
                <p>
                  #295 Durham Avenue,<br>
                  Suite D,<br>
                  South Plainfield, <br>NJ 07080
                </p>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links mt-0 mt-lg-3 ms-2 ms-sm-0">
            <h4>Follow Us</h4>
            <div class="social-links pt-0 pt-md-0">
              <a href="https://twitter.com/vitel_global" class="twitter" target="_blank">
                <svg viewBox="0 0 24 24" aria-label="Twitter" role="img" width="16" height="16" fill="currentColor"
                  class="twsvg">
                  <g>
                    <path
                      d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
                    </path>
                  </g>
                </svg>
              </a>
              <a href="https://www.facebook.com/VitelGlobal" class="facebook" target="_blank">
                <svg width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 10v4h3v7h4v-7h3l1-4h-4V8a1 1 0 0 1 1-1h3V3h-3a5 5 0 0 0-5 5v2H7Z"></path>
                </svg>
              </a>
              <a href="https://www.youtube.com/channel/UCrh3B9VT9xZkPsQNlyTjsxw" class="youtube" target="_blank">
                <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 5H7a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h10a4 4 0 0 0 4-4V9a4 4 0 0 0-4-4Z"></path>
                  <path d="m10 9 5 3-5 3V9Z"></path>
                </svg>
              </a>
              <a href="https://www.linkedin.com/uas/login?session_redirect=%2Fcompany%2F2295942%3Ftrk%3Dtyah%26trkInfo%3DclickedVertical%253Acompany%252CclickedEntityId%253A2295942%252Cidx%253A2-1-2%252CtarId%253A1476802707079%252Ctas%253Avitel%2520glo"
                class="linkedin" target="_blank">
                <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 4H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2Z"></path>
                  <path d="M8 11v5"></path>
                  <path d="M8 8v.01"></path>
                  <path d="M12 16v-5"></path>
                  <path d="M16 16v-3a2 2 0 0 0-4 0"></path>
                </svg>
              </a>
              <a href="https://www.instagram.com/vitelglobalcommunications/" class="instagram" target="_blank">
                <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 4H8a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V8a4 4 0 0 0-4-4Z"></path>
                  <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                  <path d="M16.5 7.5v.001"></path>
                </svg>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright-wrap d-md-flex py-4 align-items-center">
        <div class="me-md-auto text-center">
          <div class="copyright text-center">
            © Copyright 2024 <span><a href="https://www.vitelglobal.com/" target="_blank">Vitelglobal.com</a></span> All
            Rights Reserved.
          </div>
        </div>
      </div>

    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <svg width="24" height="24" fill="#ffffff" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
      stroke-width="1.6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 5v14"></path>
      <path d="m18 11-6-6"></path>
      <path d="m6 11 6-6"></path>
    </svg>
  </a>

  <!-- Vendor JS Files -->
  <script src="static/assets2/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets2/vendor/aos/aos.js"></script>
  <script src="static/assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets2/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets2/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets2/vendor/php-email-form/validate.js"></script>


  <!-- Template Main JS File -->
  <script src="static/assets2/js/main.js"></script>

</body>

<script>

</script>

</html>