<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"
    />
    <meta
      name="description"
      content="Kick Start Your Query | Vitel Global Communications"
    />
   
    <meta name="robots" content="index, follow" />
    <!-- Title -->
    <title>
      Request a Quote - Vitel Global Communications
    </title>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.vitelglobal.com/" />
    <meta
      property="og:title"
      content="Request a Quote - Vitel Global Communications"
    />
    <meta
      property="og:description"
      content="Kick Start Your Query | Vitel Global Communications"
    />
    <meta property="og:image" content="https://vitelglobal.com/static/assets/images/video-confernce02.webp" />
    <meta property="og:site_name" content="Vitelglobal" />

    {% include 'topscripts.html' %}
    
  </head>

  <body>
    {% include 'header.html' %}

    <main id="main">
      <section id="about" class="about m150">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-5">
              <form method="POST" action='{% url 'get-rolling' %}' id="kickStartForm" onsubmit="return kickstart();">
                {% csrf_token %}
                <h6 class="text-org icon-box-mobile">#getaquote</h6>
                <h4 class="fw-bold main-h">Request a Quote</h4>
                <h6 class="text-blu mb-3">
                  To get a quote, please complete the form below. Within 24
                  hours of receiving your inquiry, we will respond.
                </h6>
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      name="fname"
                      placeholder="First Name *"
                      
                    />
                    <div id="error1" style="display: none"></div>
                  </div>
                  <div class="mb-3 col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      id="lastname"
                      name="lastname"
                      placeholder="Last Name"
                    />
                    <div id="error2" style="display: none"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Email ID *"
                    />
                    <div id="error3" style="display: none"></div>
                  </div>
                  <div class="mb-3 col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      id="phoneno"
                      name="phoneno"
                      placeholder="Phone No. *"
                      maxlength="20" minlength="10"
                    />
                    <div id="error4" style="display: none"></div>
                  </div>
                </div>

                <div class="row">
                  <div class="mb-3 col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      id="comp"
                      name="comp"
                      placeholder=" Company *"
                    />
                    <div id="error5" style="display: none"></div>
                  </div>
                </div>

                <div class="row mb-3">
                  <h6>Select the size of your employees</h6>
                  <section class="emprow">
                    <div>
                      <input
                        type="radio"
                        id="control_01"
                        name="select"
                        value="1"
                      />
                      <label for="control_01">
                        <h2>0 - 50</h2>
                      </label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        id="control_02"
                        name="select"
                        value="2"
                      />
                      <label for="control_02">
                        <h2>50 - 100</h2>
                      </label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        id="control_03"
                        name="select"
                        value="3"
                      />
                      <label for="control_03">
                        <h2>100 - 500</h2>
                      </label>
                    </div>

                    <div>
                      <input
                        type="radio"
                        id="control_04"
                        name="select"
                        value="4"
                      />
                      <label for="control_04">
                        <h2>500 - above</h2>
                      </label>
                    </div>
                  </section>
                  <div id="error6" style="display: none"></div>
                  <!-- <h3 id="disp" style= "color:green"> </h3> -->
                </div>

                <div class="row">
                  <div class="mb-3 col-md-12">
                    <select
                      class="form-select form-control"
                      name="howyouknow"
                      id="howyouknow"
                    >
                      <option value="">--How did you hear about us--</option>
                      <option value="Google">Google</option>
                      <option value="Social Media">Social Media</option>
                      <option value="Social Media">Email Marketing</option>
                      <option value="IT Serve">IT Serve</option>
                      <option value="Past customer of Vitel Global">Past customer of Vitel Global</option>
                      <option value="Referral from Existing customer">Referral from Existing customer</option>
                      <option value="Referral from ceipal">Referral from ceipal</option>
                      <option value="Referral from oorwin">Referral from oorwin</option>
                      <option value="Referral from jobdiva">Referral from jobdiva</option>
                      <option value="Referral from vultus">Referral from vultus</option>
                      <option value="Referral from Track Talents">Referral from Track Talents</option>
                      <option value="Referral from Vitelglobal employee">Referral from Vitelglobal employee</option>
                      <option value="Referral from Vitelglobal Management">Referral from Vitelglobal Management</option>
                      <option value="Other referral">Other referral</option>
                      <option value="Others">Others</option>
                    </select>
                    <div id="error7" style="display: none"></div>
                  </div>

                  <div class="g-recaptcha" data-sitekey="6LfK-0IiAAAAAC9hJCu1oGBDdS-mJPBOvjmHv4ei" data-callback="verifyCaptcha"></div>
                  <div id="g-recaptcha-error"></div>
                </div>
                <a
                  ><button type="submit" class="btn btn-lg bt-blue mt-3" id="kickStartSubmit">
                    Get Quote
                  </button></a
                >
                <a
                  ><button type="reset" class="btn btn-lg btn-secondary mt-3" id="kickStartreset">
                    Reset
                  </button></a
                >
              </form>
            </div>

            <div class="col-md-6">
              <div class="row align-items-center">
                <div class="col-md-12">
                   
                  <h1 class="fw-bold text-blu mt-4">Videos make us feel alive</h1>
                  <h4>
                    Seamless connection, rich in quality and high performance
                  </h4>
                  
                  <a href="{% url 'voip-live-demo' %}" class="learn_bt my-4">Get a Demo <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg></a>
                </div>
                <div class="col-md-12 mt-2">
                  <img
                    src="static/assets/images/video-confernce02.webp"
                    class="img-fluid br100"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->

    {% include 'footer.html' %}

  </body>


  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script>
    $(window).bind("pageshow", function() {
      var form = $('form'); 
      form[0].reset();
    });

    $('#kickStartreset').click(function(){
      $('#error1').css('display','none');
      $('#error2').css('display','none');
      $('#error3').css('display','none');
      $('#error4').css('display','none');
      $('#error5').css('display','none');
      $('#error6').css('display','none');
      $('#error7').css('display','none');
      $("#fname").removeAttr('style');
      $("#lastname").removeAttr('style');
      $("#email").removeAttr('style');
      $("#phoneno").removeAttr('style');
      $("#comp").removeAttr('style');
      $("#howyouknow").removeAttr('style');
    })
    $('#fname').on("keyup", function(){
      $('#error1').css('display','none');
      $("#fname").removeAttr('style');
    });
    $('#lastname').on("keyup", function(){
      $('#error2').css('display','none')
      $("#lastname").removeAttr('style');
    });
    $('#email').on("keyup", function(){
      $('#error3').css('display','none')
      $("#email").removeAttr('style');
    });
    $('#phoneno').on("keyup", function(){
      $('#error4').css('display','none')
      $("#phoneno").removeAttr('style');
    });
    $('#comp').on("keyup", function(){
      $('#error5').css('display','none')
      $("#comp").removeAttr('style');
    });
    $('#control_01, #control_02, #control_03, #control_04').on("change", function(){
      $('#error6').css('display','none')
      //$("#fname").removeAttr('style');
    });
    $('#howyouknow').on("change", function(){
      $('#error7').css('display','none')
      $("#howyouknow").removeAttr('style');
    });

    
    function setInputFilter(textbox, inputFilter, errMsg) {
          [
            "input",
            "keydown",
            "keyup",
            "mousedown",
            "mouseup",
            "select",
            "contextmenu",
            "drop",
            "focusout",
          ].forEach(function (event) {
            textbox.addEventListener(event, function (e) {
              if (inputFilter(this.value)) {
                if (["keydown", "mousedown", "focusout"].indexOf(e.type) >= 0) {
                  this.classList.remove("input-error");
                  this.setCustomValidity("");
                }
                this.oldValue = this.value;
                this.oldSelectionStart = this.selectionStart;
                this.oldSelectionEnd = this.selectionEnd;
              } else if (this.hasOwnProperty("oldValue")) {
                this.classList.add("input-error");
                this.setCustomValidity(errMsg);
                this.reportValidity();
                this.value = this.oldValue;
                this.setSelectionRange(
                  this.oldSelectionStart,
                  this.oldSelectionEnd
                );
              } else {
                this.value = "";
              }
            });
          });
        }
    
        setInputFilter(
          document.getElementById("phoneno"),
          function (value) {
            return /^[0-9()+-\s]*\.?[0-9()+-\s]*$/.test(value);
          },
          "Must be an integer"
        );
    //validation
      var recaptcha_response = "";
        function verifyCaptcha(token) {
          recaptcha_response = token;
          document.getElementById("g-recaptcha-error").innerHTML = "";
        }
    
    
        function kickstart() {
          var input = (document.getElementById("fname").style.borderColor =
            "#ededed");
            var input1 = (document.getElementById("lastname").style.borderColor =
            "#ededed");
          var input2 = (document.getElementById("email").style.borderColor =
            "#ededed");
            var input3 = (document.getElementById("phoneno").style.borderColor =
            "#ededed");
            var input4 = (document.getElementById("comp").style.borderColor =
            "#ededed");
          var input5 = (document.getElementById("howyouknow").style.borderColor =
            "#ededed");
          var firstName = document.getElementById("fname").value;
          if (firstName == "") {
            var input = (document.getElementById("fname").style.borderColor =
              "orange");
            document.getElementById("error1").style.display = "block";
            document.getElementById("error2").style.display = "none";
            document.getElementById("error3").style.display = "none";
            document.getElementById("error4").style.display = "none";
            document.getElementById("error5").style.display = "none";
            document.getElementById("error6").style.display = "none";
            document.getElementById("error7").style.display = "none";
            document.getElementById("error1").innerHTML =
              "*Please enter a First Name*";
            document.getElementById("error1").style.color = "red";
            return false;
          } else if (/[^a-zA-Z\-.\s/]/.test(firstName)) {
            var input = (document.getElementById("fname").style.borderColor =
              "orange");
            document.getElementById("error1").style.display = "block";
            document.getElementById("error2").style.display = "none";
            document.getElementById("error3").style.display = "none";
            document.getElementById("error4").style.display = "none";
            document.getElementById("error5").style.display = "none";
            document.getElementById("error6").style.display = "none";
            document.getElementById("error7").style.display = "none";
            document.getElementById("error1").innerHTML =
              "*Special Characters & Numbers Not allowed*";
            document.getElementById("error1").style.color = "red";
            return false;
          }
    
          var lastName = document.getElementById("lastname").value;
          if (lastName == "") {
            var input1 = (document.getElementById("lastname").style.borderColor =
              "orange");
            document.getElementById("error1").style.display = "none";
            document.getElementById("error2").style.display = "block";
            document.getElementById("error3").style.display = "none";
            document.getElementById("error4").style.display = "none";
            document.getElementById("error5").style.display = "none";
            document.getElementById("error6").style.display = "none";
            document.getElementById("error7").style.display = "none";
            document.getElementById("error2").innerHTML =
              "*Please enter a Last Name*";
            document.getElementById("error2").style.color = "red";
            return false;
          } else if (/[^a-zA-Z\-.\s/]/.test(lastName)) {
            var input1 = (document.getElementById("lastname").style.borderColor =
              "orange");
              
            document.getElementById("error1").style.display = "none";
            document.getElementById("error2").style.display = "block";
            document.getElementById("error3").style.display = "none";
            document.getElementById("error4").style.display = "none";
            document.getElementById("error5").style.display = "none";
            document.getElementById("error6").style.display = "none";
            document.getElementById("error7").style.display = "none";
            document.getElementById("error2").innerHTML =
              "*Special Characters & Numbers Not allowed*";
            document.getElementById("error2").style.color = "red";
            return false;
          }
    
          var email = document.getElementById("email").value;
          var validRegex = /^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/;
          if (email == "") {
          var input2 = (document.getElementById("email").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "block";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "none";
        document.getElementById("error6").style.display = "none";
        document.getElementById("error7").style.display = "none";
        document.getElementById("error3").innerHTML =
          "*Please enter a Email_ID*";
        document.getElementById("error3").style.color = "red";
        return false;
      } else if (!email.match(validRegex)) {
        var input2 = (document.getElementById("email").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "block";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "none";
        document.getElementById("error6").style.display = "none";
        document.getElementById("error7").style.display = "none";
        document.getElementById("error3").innerHTML =
          "*Please enter valid Email_ID*";
        document.getElementById("error3").style.color = "red";
        return false;
      }
    
          var phone = document.getElementById("phoneno").value;
          if (phone == "") {
            var input3 = (document.getElementById("phoneno").style.borderColor =
              "orange");
            document.getElementById("error1").style.display = "none";
            document.getElementById("error2").style.display = "none";
            document.getElementById("error3").style.display = "none";
            document.getElementById("error4").style.display = "block";
            document.getElementById("error5").style.display = "none";
            document.getElementById("error6").style.display = "none";
            document.getElementById("error7").style.display = "none";
            document.getElementById("error4").innerHTML =
              "*Please enter a Mobile Number*";
            document.getElementById("error4").style.color = "red";
            return false;
          } else if (phone.length < 10 ) {
            var input3 = (document.getElementById("phoneno").style.borderColor =
              "orange");
            document.getElementById("error1").style.display = "none";
            document.getElementById("error2").style.display = "none";
            document.getElementById("error3").style.display = "none";
            document.getElementById("error4").style.display = "block";
            document.getElementById("error5").style.display = "none";
            document.getElementById("error6").style.display = "none";
            document.getElementById("error7").style.display = "none";
            document.getElementById("error4").innerHTML =
              "*Mobile Number must be Min 10*";
            document.getElementById("error4").style.color = "red";
            return false;
          }
    
          var companyName = document.getElementById("comp").value;
          if (companyName == "") {
            var input4 = (document.getElementById("comp").style.borderColor =
              "orange");
            document.getElementById("error1").style.display = "none";
            document.getElementById("error2").style.display = "none";
            document.getElementById("error3").style.display = "none";
            document.getElementById("error4").style.display = "none";
            document.getElementById("error5").style.display = "block";
            document.getElementById("error6").style.display = "none";
            document.getElementById("error7").style.display = "none";
            document.getElementById("error5").innerHTML =
              "*Please enter a Company Name*";
            document.getElementById("error5").style.color = "red";
            return false;
          } 
    
          var getSelectedValue = document.querySelector(
            'input[name="select"]:checked'
          );
          // console.log(getSelectedValue);
          if (getSelectedValue == null) {
            // console.log("Hi");
            document.getElementById("error1").style.display = "none";
            document.getElementById("error2").style.display = "none";
            document.getElementById("error3").style.display = "none";
            document.getElementById("error4").style.display = "none";
            document.getElementById("error5").style.display = "none";
            document.getElementById("error6").style.display = "block";
            document.getElementById("error7").style.display = "none";
            document.getElementById("error6").innerHTML =
              "*You have to selected any one";
            document.getElementById("error6").style.color = "red";
            return false;
          }
    
          var howYouKnow = document.getElementById("howyouknow");
          var strUser = howYouKnow.options[howYouKnow.selectedIndex].value;
          if (strUser == "") {
            var input5 = (document.getElementById("howyouknow").style.borderColor =
              "orange");
            document.getElementById("error1").style.display = "none";
            document.getElementById("error2").style.display = "none";
            document.getElementById("error3").style.display = "none";
            document.getElementById("error4").style.display = "none";
            document.getElementById("error5").style.display = "none";
            document.getElementById("error6").style.display = "none";
            document.getElementById("error7").style.display = "block";
            document.getElementById("error7").innerHTML =
              "*Please select a How did You Know*";
            document.getElementById("error7").style.color = "red";
            return false;
          }
      //captcha
      if (recaptcha_response.length == 0) {
            document.getElementById("error1").style.display = "none";
            document.getElementById("error2").style.display = "none";
            document.getElementById("error3").style.display = "none";
            document.getElementById("error4").style.display = "none";
            document.getElementById("error5").style.display = "none";
            document.getElementById("error6").style.display = "none";
            document.getElementById("error7").style.display = "none";
        document.getElementById("g-recaptcha-error").innerHTML =
        '<span style="color:red;">*This field is required.</span>';
        return false;
      }else if (recaptcha_response.length != 0) {

      document.getElementById("kickStartSubmit").disabled = true;
      }

    }

  //   $(document).ready(function() {
  //     $('#kickStartForm').submit( function(event) {
  //     // disable to avoid double submission
  //     footer();
  //     // const recaptcha_response = "";
  //     if(recaptcha_response.length != 0 ) {
  //       $('#kickStartSubmit').attr('disabled', true);
  //     }else {
  //       console.log("failure");
  //       return false;
  //     }
      
  // });
  //   });

</script>
      
      
    </html>
    