<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"
    />
    <meta
      name="description"
      content="Biggest opportunity for all our lovely customers from IT Serve 2023."
    />
    <meta name="robots" content="index, follow" />
    <!-- Title -->
    <title>
      ITServe Offer - Vitel Global Communications
    </title>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.vitelglobal.com/" />
    <meta
      property="og:title"
      content="ITServe Offer - Vitel Global Communications"/>
    <meta
      property="og:description"
      content="Biggest opportunity for all our lovely customers from IT Serve 2023."
    />
    <meta
      property="og:image"
      content="https://vitelglobal.com/static/assets/images/work-from-home.jpg"
    />
    <meta property="og:site_name" content="Vitelglobal" />
    <script src="forms.js"></script>
    {% include 'topscripts.html' %}

     <script>
  window.history.forward(1);
</script>
<style type="text/css">
  .form-control {
    border: 1px solid #4d4d76;
}
.g-recaptcha{position:relative; z-index:1;}
</style>
  </head>

  <body class="contactbg" >
    {% include 'header.html' %}

    <main id="main">
      <section class="banercc2 mb-0 pt-5">
        <div class="inn_pag co_bg d-flex align-items-center pb-0" style="min-height:150px;">
          <div class="container">
            <div
              class="row align-items-center justify-content-center text-center"
            >
              <div class="col-md-12">
               <!--  <h6 class="text-org">Contact Us</h6> -->
                <h1 class="text-blu m-0">Welcome to ITServe Alliance</h1>
               <h3 class="text-blu mb-3">Biggest opportunity for all our <br>ITServe Members. </h3>
                <h4 class="text-blu mb-3">
                  Fill the form out to get a <b>promo code</b> and avail 10 - 20% off <br>depending on number of lines, when you sign up with Vitel Global.
                	<!-- Fill the form and avail upto 10-20% off <br>depending on number of lines, when you sign up with Vitel Global. -->
                </h4>
               <!--  <h2>Use promo code "<span class="text-org">ITSERVE</span>"</h2> -->
                <!-- <h5 class="text-org">Limited Offer! Valid till 31st May 2023 for New Signup Only</h5> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= Icon Boxes Section ======= -->
      <section id="contact" class="contact- p-0 m-0">
        <div class="container">
          <div class="row mt-4rem d-flex justify-content-center">


<div class="col-lg-8 mt-5 mt-lg-0 order-md-2">
<div class="boxshadow p-4 bg-light mb-5">
 
<form method="POST" action="{% url 'itserve-offer' %}" onsubmit="return contact()" id= 'contactusForm'>
{% csrf_token %}
<div id="mail-status_to" class="font-weight-bold text-success text-center" style="height: auto"></div>
<div class="row">
<div class="mb-3 col-md-12">
<input type="text" name="yourname" class="form-control" id="yourname" placeholder="Your Name" />
<div id="error1" style="display: none"></div>
</div>
<div class="mb-3 form-group col-md-12">
<input type="text" class="form-control" name="yourorganization" id="yourorganization"
placeholder="Organization Name" autocomplete="off" />
<div id="error2" style="display: none"></div>
</div>
<div class="mb-3 col-md-12">
<input type="text" class="form-control" name="yourphone" id="yourphone" placeholder="Phone No." maxlength="20"
minlength="10" autocomplete="off" />
<div id="error3" style="display: none"></div>
</div>
<div class="mb-3 col-md-12">
<input type="text" class="form-control" name="youremail" id="youremail" placeholder="Your Email" />
<div id="error4" style="display: none"></div>
</div>
</div>


<!-- <div class="mb-3 col-md-12">
      <label for="input5" class="small">Whom do you want to message?</label>
      <select name="whom_vitel" id="whom_vitel" class="form-control" >
      <option value="sales@vitelglobal.com">Sales</option>
      <option value="support@vitelglobal.com">Support</option>
    </select>
    </div> -->


<div class="mb-3 col-md-12">
  <input type="text" class="form-control" name="yourmessage" id="yourmessage" placeholder="Number of Lines" />
<!-- <textarea class="form-control" name="yourmessage" id="yourmessage" rows="2" maxlength="4000"
placeholder="Message"></textarea> -->
<div id="error5" style="display: none"></div>
</div>

<div class="mb-3 col-md-12">
  <select class="form-select form-control" name="howyouknow" id="howyouknow">
   <!--  <option value="">--How did you hear about us--</option>
    <option value="Indiasoft Convergence">Indiasoft Convergence</option>
    <option value="Google">Google</option>
    <option value="Social Media">Social Media</option>
    <option value="Social Media">Email Marketing</option> -->
    <option value="IT Serve" selected="selected">ITServe</option>
   <!--  <option value="Past customer of Vitel Global">Past customer of Vitel Global</option>
    <option value="Referral from Existing customer">Referral from Existing customer</option>
    <option value="Referral from ceipal">Referral from ceipal</option>
    <option value="Referral from oorwin">Referral from oorwin</option>
    <option value="Referral from jobdiva">Referral from jobdiva</option>
    <option value="Referral from vultus">Referral from vultus</option>
    <option value="Referral from Track Talents">Referral from Track Talents</option>
    <option value="Referral from Vitelglobal employee">Referral from Vitelglobal employee</option>
    <option value="Referral from Vitelglobal Management">Referral from Vitelglobal Management</option>
    <option value="Other referral">Other referral</option>  -->
  </select>
  <div id="error7" style="display: none"></div>
</div>
<div class="mb-3 col-md-12" id="otherstextBox" style="display: none">
  <input type="text" class="form-control" id="otherstext" name="otherstext" placeholder=" Please specify *" />
  <div id="errorother" style="display: none"></div>
</div>
<div class="g-recaptcha" data-sitekey="6LfK-0IiAAAAAC9hJCu1oGBDdS-mJPBOvjmHv4ei" data-callback="verifyCaptcha"></div>
<div id="g-recaptcha-error"></div>
<div class="text-right">
<button type="submit" class="btn bt-blue mt-3" id='contactusSubmit'>
Send Message
</button>
</div>
</form>
</div>
</div>


           


          </div>
        </div>
      </section>
      <!-- End Icon Boxes Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->

    {% include 'footer.html' %}
  </body>
  <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
 

  <script>
    $(window).bind("pageshow", function() {
      var form = $('form'); 
      form[0].reset();
    });

     $('#yourname').on("keyup", function(){
    $('#error1').css('display','none')
    $("#yourname").removeAttr('style');
  });
  $('#otherstext').on("keyup", function () {
      $('#errorother').css('display', 'none')
      $("#otherstext").removeAttr('style');
    });
  $('#yourorganization').on("keyup", function(){
    $('#error2').css('display','none')
    $("#yourorganization").removeAttr('style');
  });
  $('#yourphone').on("keyup", function(){
    $('#error3').css('display','none')
    $("#yourphone").removeAttr('style');
  });
  $('#youremail').on("change", function(){
    $('#error4').css('display','none')
    $("#youremail").removeAttr('style');
  });
  $('#yourmessage').on("keyup", function(){
    $('#error5').css('display','none')
    $("#yourmessage").removeAttr('style');
  });
  $('#howyouknow').on("change", function (e) {
      if (e.target.value === "Others") {
        $('#otherstextBox').show();
      } else {
        $('#otherstextBox').hide();
      }
      $('#error7').css('display', 'none')
      $("#howyouknow").removeAttr('style');
    });
    function setInputFilter(textbox, inputFilter, errMsg) {
      [
        "input",
        "keydown",
        "keyup",
        "mousedown",
        "mouseup",
        "select",
        "contextmenu",
        "drop",
        "focusout",
      ].forEach(function (event) {
        textbox.addEventListener(event, function (e) {
          if (inputFilter(this.value)) {
            if (["keydown", "mousedown", "focusout"].indexOf(e.type) >= 0) {
              this.classList.remove("input-error");
              this.setCustomValidity("");
            }
            this.oldValue = this.value;
            this.oldSelectionStart = this.selectionStart;
            this.oldSelectionEnd = this.selectionEnd;
          } else if (this.hasOwnProperty("oldValue")) {
            this.classList.add("input-error");
            this.setCustomValidity(errMsg);
            this.reportValidity();
            this.value = this.oldValue;
            this.setSelectionRange(
              this.oldSelectionStart,
              this.oldSelectionEnd
            );
          } else {
            this.value = "";
          }
        });
      });
    }

    setInputFilter(
      document.getElementById("yourphone"),
      function (value) {
        return /^[0-9()+-\s]*\.?[0-9()+-\s]*$/.test(value);
      },
      "Must be an integer"
    );

    //validation
    var recaptcha_response = "";
    function verifyCaptcha(token) {
      recaptcha_response = token;
      document.getElementById("g-recaptcha-error").innerHTML = "";
    }

    // Contact us
    function contact() {
      
      var name = document.getElementById("yourname").value;
      if (name == "") {
        var input = (document.getElementById("yourname").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "block";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "none";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "none";
                document.getElementById("error7").style.display = "none";
        document.getElementById("errorother").style.display = "none";
        document.getElementById("error1").innerHTML =
          "*Please enter a Your Name*";
        document.getElementById("error1").style.color = "red";
        return false;
      } else if (/[^a-zA-Z\-.\s/]/.test(name)) {
        var input = (document.getElementById("yourname").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "block";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "none";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "none";
                document.getElementById("error7").style.display = "none";
        document.getElementById("errorother").style.display = "none";
        document.getElementById("error1").innerHTML =
          "*Special Characters & Numbers Not allowed*";
        document.getElementById("error1").style.color = "red";
        return false;
      }

      var organization = document.getElementById("yourorganization").value;
      if (organization == "") {
        var input = (document.getElementById(
          "yourorganization"
        ).style.borderColor = "orange");
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "block";
        document.getElementById("error3").style.display = "none";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "none";
                document.getElementById("error7").style.display = "none";
        document.getElementById("errorother").style.display = "none";
        document.getElementById("error2").innerHTML =
          "*Please enter a Your Name*";
        document.getElementById("error2").style.color = "red";
        return false;
      }

      var phone = document.getElementById("yourphone").value;
      if (phone == "") {
        var input = (document.getElementById("yourphone").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "block";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "none";
                document.getElementById("error7").style.display = "none";
        document.getElementById("errorother").style.display = "none";
        document.getElementById("error3").innerHTML =
          "*Please enter a Mobile Number*";
        document.getElementById("error3").style.color = "red";
        return false;
      } else if (phone.length < 10) {
        var input = (document.getElementById("yourphone").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "block";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "none";
                document.getElementById("error7").style.display = "none";
        document.getElementById("errorother").style.display = "none";
        document.getElementById("error3").innerHTML =
          "*Mobile Number must be Min 10*";
        document.getElementById("error3").style.color = "red";
        return false;
      }

      var email = document.getElementById("youremail").value;
      var validRegex =
      /^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/;;
      if (email == "") {
        var input = (document.getElementById("youremail").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "none";
        document.getElementById("error4").style.display = "block";
        document.getElementById("error5").style.display = "none";
                document.getElementById("error7").style.display = "none";
        document.getElementById("errorother").style.display = "none";
        document.getElementById("error4").innerHTML =
          "*Please enter a Email_ID*";
        document.getElementById("error4").style.color = "red";
        return false;
      } else if (!email.match(validRegex)) {
        var input = (document.getElementById("youremail").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "none";
        document.getElementById("error4").style.display = "block";
        document.getElementById("error5").style.display = "none";
                document.getElementById("error7").style.display = "none";
        document.getElementById("errorother").style.display = "none";
        document.getElementById("error4").innerHTML =
          "*Please enter valid Email_ID*";
        document.getElementById("error4").style.color = "red";
        return false;
      }

      var textarea = document.getElementById("yourmessage").value;
      if (textarea == "") {
        var input = (document.getElementById("yourmessage").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "none";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "block";
                document.getElementById("error7").style.display = "none";
        document.getElementById("errorother").style.display = "none";
        document.getElementById("error5").innerHTML =
          "*Please enter a Message*";
        document.getElementById("error5").style.color = "red";
        return false;
      } else if (/[^0-9a-zA-Z\-=!.()+@:$&%'",.\s/?]/.test(textarea)) {
        var input = (document.getElementById("yourmessage").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "none";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "block";
        document.getElementById("error7").style.display = "none";
        document.getElementById("errorother").style.display = "none";
        document.getElementById("error5").innerHTML =
          "*Special Characters & Numbers Not allowed*";
        document.getElementById("error5").style.color = "red";
        return false;
      }
      var howYouKnow = document.getElementById("howyouknow");
      var strUser = howYouKnow.options[howYouKnow.selectedIndex].value;
      if (strUser == "") {
        var input5 = (document.getElementById("howyouknow").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "none";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "none";
        document.getElementById("error7").style.display = "block";
        document.getElementById("error7").innerHTML =
          "*Please select a How did You Know*";
        document.getElementById("error7").style.color = "red";
        return false;
      }
      var otherstext = document.getElementById("otherstext").value;

      if (otherstext == "" && strUser == "Others") {
        var input = (document.getElementById("otherstext").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "none";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "none";
        document.getElementById("error7").style.display = "none";
        document.getElementById("errorother").style.display = "block";
        document.getElementById("g-recaptcha-error").innerHTML = "";
        document.getElementById("errorother").innerHTML =
          "*Please enter  5 characters*";
        document.getElementById("errorother").style.color = "red";
        return false;
      } else if (otherstext.length < 5 && strUser == "Others") {
        var input = (document.getElementById("otherstext").style.borderColor =
          "orange");
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "none";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "none";
        document.getElementById("error7").style.display = "none";
        document.getElementById("g-recaptcha-error").innerHTML = "";
        document.getElementById("errorother").style.display = "block";
        document.getElementById("errorother").innerHTML =
          "*Please enter 5 characters*";
        document.getElementById("errorother").style.color = "red";
        return false;
      }
      //captcha
      if (recaptcha_response.length == 0) {
        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        document.getElementById("error3").style.display = "none";
        document.getElementById("error4").style.display = "none";
        document.getElementById("error5").style.display = "none";
        document.getElementById("error7").style.display = "none";
        document.getElementById("errorother").style.display = "none";
        document.getElementById("g-recaptcha-error").innerHTML =
          '<span style="color:red;">*This field is required.</span>';
        return false;
      }else if (recaptcha_response.length != 0) {
      document.getElementById("contactusSubmit").disabled = true;
    }

    }

  //   $(document).ready(function() {
  //     $('#contactusForm').submit( function(event) {
  //     // disable to avoid double submission
  //     footer();
  //     // const recaptcha_response = "";
  //     if(recaptcha_response.length != 0 ) {
  //       $('#contactusSubmit').attr('disabled', true);
  //     }else {
  //       console.log("failure");
  //       return false;
  //     }
      
  // });
  //   });
  </script>
  
</html>
