<!DOCTYPE html>
<html lang="en-US">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content="The Vitel Global Communications privacy statement explains what personal information of Vitel Global and how the company uses it.">
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>Privacy Policy - Vitel Global Communications  </title>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.vitelglobal.com/" />
<meta property="og:title" content="Privacy Policy - Vitel Global Communications " />
<meta property="og:description" content="The Vitel Global Communications privacy statement explains what personal information of Vitel Global and how the company uses it." />
<meta property="og:image" content="https://vitelglobal.com/img/New01.webp" />
<meta property="og:site_name" content="Vitelglobal" /> 

 {% include 'topscripts.html' %}
<style type="text/css">
	.text-decoration{text-decoration: underline;}
</style>
 <link rel="canonical" href="https://www.vitelglobal.com/privacy-policy"/>
</head>

<body>

  
{% include 'header.html' %}
 




 
<section id="about " class=" " style="margin-top: 130px;">
<div class="container">

<div class="row">
<h1 class="fw-bold text-blu">Vitel Global Customers - Registering an SMS/MMS Messaging Account</h1>
<div class="col-12 col-md-12 text-justify card card-body" > 
 
 <div> 

<h2>Registration Process</h2>

<h5>Why Did Messaging Registration Change?</h5>

<p>Mobile carriers are now forcing any business users that send SMS/MMS messages over 10-digit numbers (A2P 10DLC) to have those numbers registered with an organisation called The Campaign Registry due to changes to the existing messaging landscape (TCR). https://www.campaignregistry.com/.</p>

<p>The goal is to reduce text message spam, which is becoming a bigger issue for their mobile clients. By registering with TCR, you give TCR permission to review your use-case for the purpose for which you intend to use messaging, link the Brand (the company sending the messages) and the Campaigns (each individual use-case), as well as the list of phone numbers the messages will be sent from, with the goal of enabling complete traceability back to the message's originator. The cell carriers will gladly issue us a fine if it is found that your communications are not compliant, and we will cheerfully pass it along to you. The cell carriers will fully stop allowing messages to be sent to your number if you repeatedly break the rules.</p>

<p>Beginning on <span class="text-danger">May 1st, 2022</span>, we shall take the action of turning off all SMS/MMS messaging for use with Vitel Global numbers in order to avoid the possibility of financial penalties.</p>

<p>The source numbers must register with TCR if you wish to continue sending messages via SMS. However, we cannot permit you to send SMS messages once they have been disabled until the entire registration procedure is finished and approved.</p>

<h5>Registration Steps</h5>

<p>Fortunately, you don't have to register directly with TCR as you are one of our customers. We will submit your Brand and Campaign details to TCR as your CSP (Campaign Service Provider). Having said that, we will ask a lot of questions about your business, the purposes for messaging, and the list of phone numbers you'll be using to send messages. TCR NEEDS ALL OF THIS INFORMATION TO EVALUATE AND VET YOUR REQUEST. They have received training in understanding what will get your registration request past the cell carrier's scrutiny.</p>

<p>NOTE: Registration fees also apply to brands and campaigns. At the end of this article are the costs given.</p>

<p>Cheat Sheet Form&nbsp;</p>

<p>A2P 10DLC Messaging Campaign Form&nbsp;</p>

<p>All the data we require to submit your request to TCR is on this form.</p>

<p>Brand Information&nbsp;</p>

<p>Information about the brand is on the first page. Given that this is information about your business, it should be rather obvious what to fill out. If your brand uses messaging for a variety of use cases, you can have many campaigns.</p>

<p>Campaign Information&nbsp;</p>

<p>The Campaign you will be filing is on the second page. Even while the term "campaign" is used loosely here and is typically linked with a text message blast, it actually refers to the message content when submitting for messaging use-cases.</p>

<p>The campaign you choose for your use truly depends on how you engage with customers through messaging and, more crucially, the content of those communications.</p>

<p>Given how complicated the mobile carriers made this, it's a lot.</p>

<p>&nbsp;&nbsp;</p>

<p>To help you decide how to complete the campaign information, we'll present some of the information since you don't actually need to be aware of it all.</p>

<p>A document that we have has a list of best practises for messaging campaigns. The portions that can be pertinent for your company are Sections 6 and 8, although keep in mind that this document contains a lot of detailed information. This document contains some helpful advice on how to comply with the content policies of mobile carriers, which is where the majority of the attention is directed.</p>

<h5>Messaging Best Practices</h5>
 

<p>For instance, if you are using messaging with a soft client, frequent use-cases include "Low-volume mixed". Choose "Customer Care" or "Marketing" as the type of content you might send when selecting this campaign type. For automated systems, several of the other types are more prevalent (2FA, Account Notifications, etc). These types won't be suitable for the "low-volume mixed" use case because the volume will most likely be larger. Remember that the expected content of your communications will influence the use-case category you select.</p>

<p>For instance, if you are using messaging with a soft client, frequent use-cases include "Low-volume mixed". Choose "Customer Care" or "Marketing" as the type of content you might send when selecting this campaign type. For automated systems, several of the other types are more prevalent (2FA, Account Notifications, etc). These types won't be suitable for the "low-volume mixed" use case because the volume will most likely be larger. Remember that the expected content of your communications will influence the use-case category you select.</p>

<p>&nbsp;&nbsp;</p>

<p>To assist TCR in assessing your use-case and content, the Campaign Description should discuss how you are using messaging. Sample messages are also requested.</p>

<p>The list of phone numbers (TNs) that should be permitted to send and receive SMS and MMS messages as part of this campaign is listed last.</p>

<p>Up to 49 TNs may be listed for usage with a campaign. In order for TCR and the cell carriers to assess why you need more than that for a "campaign," above 49 TNs entails a very high price. This practise is known as number pooling. Be very picky about the phone numbers you message from while selecting these TNs. The carriers are also thinking about regulations that would govern how rapidly a number might be changed from one campaign to another.</p>

 

<h4>Where To Send the Form&nbsp;</h4>

<p>Once you have the form filled out, you can email this to <a href="mailto:sales@vitelglobal.com">sales@vitelglobal.com</a> Please include the following:&nbsp;</p>

<p>Subject Line: SMS/MMS Brand/Campaign Form for Vitel Global</p>

<p>Body: In your email request, provide additional contact information, such as the name of an authorised user on your account, as well as a brief description of what you are wanting.</p>

<p>Attachment: In your email request, provide additional contact information, such as the name of an authorised user on your account, as well as a brief description of what you are wanting.</p>

 

<h4>Fees</h4>

<p>For their numerous services, The Campaign Registry (TCR) charges fees. These are the fees that we will be passing along:</p>

<table class="table"> <tbody><tr><td><p>Fee&nbsp;</p></td><td><p>Cost&nbsp;</p></td><td><p>Description&nbsp;</p></td></tr>
<tr><td><p>Brand Registration and Vetting&nbsp;</p></td><td><p>$10&nbsp;</p></td><td><p>One-time TCR Fee per Brand/Company&nbsp;</p></td></tr>
<tr><td><p>Campaign Registration Fee&nbsp;</p></td><td><p>$15&nbsp;</p></td><td><p>Fee per campaign&nbsp;</p></td></tr>
</tbody></table>

<p>&nbsp;&nbsp;</p>

<p>A regular brand and campaign registration, for instance, would cost around $25 in fees. This would be made up of the $15 per campaign fee in addition to the $10 TCR brand fee. Depending on the content, you could just need one campaign for your brand. If you are sending a bigger volume of messages and sending content that would fit into distinct use-cases, you would require separate campaigns.</p>

<p>&nbsp;&nbsp;</p>

<p>Penalties&nbsp;</p>

<p>Observe your output. T-Mobile will impose severe penalties, in particular, for any content infractions. The following is just one illustration:</p>

<table class="table"> <tbody><tr><td><p>Penalty&nbsp;</p></td><td><p>Fee&nbsp;</p></td><td><p>Description&nbsp;</p></td></tr>
<tr><td><p>10DLC A2P Text Enablement Non-Compliance Violation&nbsp;</p></td><td><p>$10,000&nbsp;</p></td><td><p>T-Mobile penalty for sending texts from non-approved numbers - per violation&nbsp;</p></td></tr>
<tr><td><p>10DLC A2P Program Evasion Non-Compliance Violation&nbsp;</p></td><td><p>$1,000&nbsp;</p></td><td><p>T-Mobile violation for using evasive measures - per violation&nbsp;</p></td></tr>
<tr><td><p>10DLC A2P Content Non-Compliance&nbsp;<br>Violation&nbsp;</p></td><td><p>$10,000&nbsp;</p></td><td><p>T-Mobile penalty for content violations - per violation&nbsp;</p></td></tr>
</tbody></table>

<p>&nbsp;&nbsp;</p>

<p>If we are assessed one of these costs because of an infringement on your brand or campaign, we will pay these costs through to you. If you break the rules repeatedly, your brand will be excluded from further messaging initiatives.</p>

<p>&nbsp;&nbsp;Penalties could be added in the future by other operators.</p>

</div>

</div>
  

</div>


</div>

</div>
</section>

  

      

    
     

 

  <!-- ======= Footer ======= -->
  
{% include 'footer.html' %}




</body>
</html>