<!DOCTYPE html>
<html lang="en-US">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content="The Vitel Global Communications privacy statement explains what personal information of Vitel Global and how the company uses it.">
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>Privacy Policy - Vitel Global Communications  </title>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.vitelglobal.com/privacy-policy" />
<meta property="og:title" content="Privacy Policy - Vitel Global Communications " />
<meta property="og:description" content="The Vitel Global Communications privacy statement explains what personal information of Vitel Global and how the company uses it." />
<meta property="og:image" content="https://www.vitelglobal.com/static/assets/vimages/ngo-voip-service.webp" />
<meta property="og:site_name" content="Vitelglobal" /> 

 {% include 'topscripts.html' %}

 <link rel="canonical" href="https://www.vitelglobal.com/privacy-policy"/>
</head>

<body>

  
{% include 'header.html' %}
 




 
<section id="about " class=" " style="margin-top: 130px;">
<div class="container">

<div class="row">
<h1 class="fw-bold text-blu">Privacy Policy</h1>
<div class="col-12 col-md-12 text-justify card card-body" > 
<h4>Personal information received from any visitor will be used only for internal purposes and will not be sold or provided to third parties.</h4>
<p>We recognize that your privacy is important. This document outlines the types of personal information we receive and collect when you use Vitel Global Communications, as well as some of the steps we take to safeguard information. We hope this will help you make an informed decision about sharing personal information with us.</p>

<p>Vitel Global Communications strives to maintain the highest standards of decency, fairness and integrity in all our operations. Likewise, we are dedicated to protecting our customers, consumers and online visitors privacy on our website.</p>

<h3>Personal Information</h3>

<p>Vitel Global Communications collects personally identifiable information from the visitors to our website only on a voluntary basis. Personal information collected on a voluntary basis may include name, postal address, email address, company name and telephone number and questions about Vitel VoIP Phone Service.</p>

<p>This information is collected if you request information from us, participate in a contest or sweepstakes, and sign up to join our email list or request some other service or information from us. The information collected is internally reviewed, used to improve the content of our website, notify our visitors of updates, and respond to visitor inquiries.</p>

<p>Once information is reviewed, it is discarded or stored in our files. If we make material changes in the collection of personally identifiable information we will inform you by placing a notice on our site.</p>

<h3>Non-Personal Information</h3>

<p>In some cases, we may collect information about you that is not personally identifiable. We use this information, which does not identify individual users, to analyze trends, to administer the site, to track user's movements around the site and to gather demographic information about our user base as a whole. The information collected is used solely for internal review and not shared with other organizations for commercial purposes.</p>


<h3>Credit Card / eCheck Privacy Policy</h3>

<p>Your payment and personal information is always safe.  Our Secure Sockets Layer (SSL) software is the industry standard and among the best software available today for securing commercial transactions.  It encrypts all of your personal information, including credit card number, Account Number, name, and address so that it cannot be read over the internet.</p>

<h3>Refund Policy</h3>

<p>If you sign up for a plan and we feel that we can't do the service for you at that moment or for any reason at all, then Vitel Global Communications will issue you a 100% refund within a maximum of 7 working days. </p>

<p>Payment in full is expected when If you sign up for a monthly or yearly service and request the service to be cancelled, you must notify Vitel global Communications at least 7 business days prior to the next billing period. Your account will no longer be rebilled starting 7 business days following your notification.</p>   

<p> If you request a refund or cancellation within the time period stated in this policy and your account has still been charged, Vitel Global Communications will refund 100% of that amount.</p>

<p>Vitel Global Communications does not offer any refunds for funds spent on search engines, for the services already delivered or any other miscellaneous charges which are non recoverable for Vitel Global Communications and refunding them causes any loss to Vitel Global Comunications.</p>

<p>If you don't want to continue using any of Vitel Global Communications services and wish to cancel or have any questions, comments or concerns about our refund and cancellation policy, you may contact us at <a href="mailto:support@vitelglobal.com">support@vitelglobal.com</a>. Be sure to include your full name, company name, account number and the service you want cancelled. Include "CANCEL SERVICE" in the subject line. </p>

<p>*All refunds and cancellation requests must be made in writing. Your request will not be considered valid unless and until you receive confirmation from our billing department. The confirmation email or number given by the billing department of Vitel Global Communications will act as a proof of the cancellation of service.</p>

<p>We strongly believe that our services will be beneficial to your business. We always strive to make your internet experience more enjoyable and we do our best for the same.</p>

<h3>Release of Information</h3>

<p>If  Vitel Global Communications is sold, the information we have obtained from you through your voluntary participation in our site may transfer to the new owner as a part of the sale in order that the service being provided to you may continue. In that event, you will receive notice through our website of that change in control and practices, and we will make reasonable efforts to ensure that the purchaser honors any opt-out requests you might make of us.</p>

<h3>How You Can Correct or Remove Information</h3>
<p>We provide this privacy policy as a statement to you of our commitment to protect your personal information. If you have submitted personal information through our website and would like that information deleted from our records or would like to update or correct that information, please click on  <a href="http://www.vitelglobal.com/contact" target="_blank">this link to Contact VitelGlobal Support</a>. </p>

<h3>Updates and Effective Date</h3>
<p>Vitel Global Communications reserves the right to make changes in this policy. If there is a material change in our privacy practices, we will indicate on our site that our privacy practices have changed and provide a link to the new privacy policy. We encourage you to periodically review this policy so that you will know what information we collect and how we use it. </p>



<p>* Vitel Global Communications reserves the right to modify any provisions of the refund and cancellation policy without any notice. </p>
 
   
 
   


</div>
  

</div>


</div>

</div>
</section>

  

      

    
     

 

  <!-- ======= Footer ======= -->
  
{% include 'footer.html' %}




</body>
</html>