<!DOCTYPE html>
<html lang="en-US">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content="Before using and taking for Vitel Global Communications voip phone service please go through Vitelglobal'sTerms & Conditions page">
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>Terms & Conditions - Vitel Global Communications </title>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.vitelglobal.com/terms-and-conditions" />
<meta property="og:title" content="Terms & Conditions - Vitel Global Communications " />
<meta property="og:description" content="Before using and taking for Vitel Global Communications voip phone service please go through Vitelglobal'sTerms & Conditions page" />
<meta property="og:image" content="https://www.vitelglobal.com/static/assets/vimages/corporate-communication.webp" />
<meta property="og:site_name" content="Vitelglobal" /> 

{% include 'topscripts.html' %}
<link rel="canonical" href="https://www.vitelglobal.com/terms-and-conditions"/>
</head>

<body>

  
{% include 'header.html' %}
 
<div id="about " class=" " style="margin-top: 130px;">
<div class="container">

<div class="row">
<h1 class="fw-bold text-blu">Terms & Conditions</h1>
<h2 style="display: none;">Terms & Conditions of vitelglobal communications</h2>
<div class="col-12 col-md-12 text-justify card p-md-5 p-sm-2" >
 
<h4>1. Terms</h4>
<p>By accessing this Website, accessible from <a href="https://www.vitelglobal.com">https://www.vitelglobal.com</a>, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>
<h4>2. Use License</h4>
<p>Permission is granted to temporarily download one copy of the materials on Vitel Global's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>
<ul>
<li>Modify or copy the materials;</li>
<li>Use the materials for any commercial purpose or for any public display;</li>
<li>Attempt to reverse engineer any software contained on Vitel Global's Website;</li>
<li>Remove any copyright or other proprietary notations from the materials; or</li>
<li>Transferring the materials to another person or "mirror" the materials on any other server.</li>
</ul>

<p>This will let Vitel Global to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format. </p>

<h4>3. Disclaimer</h4>
<p>All the materials on Vitel Global’s Website are provided "as is". Vitel Global makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, Vitel Global does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>
<h4>4. Limitations</h4>
<p>Vitel Global or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on Vitel Global’s Website, even if Vitel Global or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>
<h4>5. Revisions and Errata</h4>
<p>The materials appearing on Vitel Global’s Website may include technical, typographical, or photographic errors. Vitel Global will not promise that any of the materials in this Website are accurate, complete, or current. Vitel Global may change the materials contained on its Website at any time without notice. Vitel Global does not make any commitment to update the materials.</p>


<h4>6. Links</h4>
<p>Vitel Global has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by Vitel Global of the site. The use of any linked website is at the user’s own risk.</p>
<h4>7. Site Terms of Use Modifications</h4>
<p>Vitel Global may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>
<h4>8. Your Privacy</h4>
<p>Please read our Privacy Policy.</p>
<h4>9. Governing Law</h4>
<p>Any claim related to Vitel Global's Website shall be governed by the laws of in without regards to its conflict of law provisions.</p>

  
  
  
 </div>

</div>

</div>
</div>

  

      

    
     

 

  <!-- ======= Footer ======= -->
  
{% include 'footer.html' %}




</body>
</html>