<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Business Phone Services | Vitel Global</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://www.vitelglobal.com/static/assets/img/favicon.webp" rel="icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets2/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets2/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets2/css/style.css" rel="stylesheet">
  <link href="static/assets2/css/responsive.css" rel="stylesheet">

  <!-- Meta Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '669235138129499');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=669235138129499&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Meta Pixel Code -->

  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "l1l48yv73e");
  </script>



</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top thank-you-header">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="https://www.vitelglobal.com/businessphone" class="logo">
        <img src="https://www.vitelglobal.in/emailtem/img/vitel-logo.png">
      </a>
      <!-- navbar -->
      <nav id="navbar" class="navbar d-flex align-items-center">
        <ul>
          <li>
            <a target="_blank" href="https://wa.me/17323338688?text=Hello">
              <svg width="24" height="24" fill="none" stroke="currentColor" class="me-2" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="1.6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m3 20.999 1.65-3.8a9 9 0 1 1 3.4 2.9l-5.05.9"></path>
                <path d="M9 10a.5.5 0 0 0 1 0V9a.5.5 0 1 0-1 0v1Zm0 0a5 5 0 0 0 5 5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0 0 1">
                </path>
              </svg>
              +1 732-333-8688
            </a>
          </li>
        </ul>
        <a target="_blank" href="https://wa.me/17323338688?text=Hello" class="d-block d-sm-none">
          <svg width="24" height="24" fill="none" stroke="currentColor" class="me-2" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="1.6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="m3 20.999 1.65-3.8a9 9 0 1 1 3.4 2.9l-5.05.9"></path>
            <path d="M9 10a.5.5 0 0 0 1 0V9a.5.5 0 1 0-1 0v1Zm0 0a5 5 0 0 0 5 5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0 0 1">
            </path>
          </svg>
        </a>
      </nav>
      <!-- /navbar -->
    </div>
  </header>
  <!-- End Header -->



  <!-- thankyou section starts -->
  <section class="total-thankyou-sec">
    <div class="container thanks-section">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 col-12 m-auto">
          <img src="static/assets2/img/thank-you.png" class="img-fluid" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="paenl panel-default">

            <!-- <h2 class="mt-5">Thank You!</h2> -->
            <!-- <p class="get-in-touch-txt">Thank you for getting in touch!</p> -->
            <p class="thank-demo-txt mt-5">We appreciate for your interest in knowing more about our products and services.
              Check your mailbox now for further details regarding live demo! <br>Have a good time.</p>
            <p class="thank-enquiry mt-4">
              <a href="tel:+18555584835" class="me-0 me-lg-2">
                <svg width="26" height="26" fill="none" stroke="#ee751d" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 4h4l2 5-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2">
                  </path>
                  <path d="M15 7a2 2 0 0 1 2 2"></path>
                  <path d="M15 3a6 6 0 0 1 6 6"></path>
                </svg>
                855-558-4835
              </a>
              <a href="mailto:info@vitelglobal.com">
                <svg width="26" height="26" fill="none" stroke="#ee751d" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19 5H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2Z"></path>
                  <path d="m3 7 9 6 9-6"></path>
                </svg>
                info@vitelglobal.com
              </a>
            </p>
            <p class="mt-30 mb-4 mb-lg-5">
              <a href="{% url 'land-business-phone' %}" class="thank-home-btn">Home</a>
            </p>
            <div class="social-links mt-1 mt-lg-3">
              <a target="_blank" href="https://twitter.com/vitel_global" class="twitter me-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#ee751d" class="bi bi-twitter-x"
                  viewBox="0 0 16 16">
                  <path
                    d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                </svg>
              </a>
              <a target="_blank" href="https://www.facebook.com/VitelGlobal" class="facebook me-2">
                <svg width="30" height="30" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="1.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 10v4h3v7h4v-7h3l1-4h-4V8a1 1 0 0 1 1-1h3V3h-3a5 5 0 0 0-5 5v2H7Z"></path>
                </svg>
              </a>
              <a target="_blank" href="https://www.youtube.com/channel/UCrh3B9VT9xZkPsQNlyTjsxw" class="youtube me-2">
                <svg width="34" height="34" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="1.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 5H7a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h10a4 4 0 0 0 4-4V9a4 4 0 0 0-4-4Z"></path>
                  <path d="m10 9 5 3-5 3V9Z"></path>
                </svg>
              </a>
              <a href="https://www.instagram.com/vitelglobalcommunications/" class="instagram me-2" target="_blank">
                <svg width="32" height="32" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="1.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 4H8a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V8a4 4 0 0 0-4-4Z"></path>
                  <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                  <path d="M16.5 7.5v.001"></path>
                </svg>
              </a>
              <a target="_blank"
                href="https://www.linkedin.com/company/2295942?trk=tyah&amp;trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2295942%2Cidx%3A2-1-2%2CtarId%3A1476802707079%2Ctas%3Avitel%20glo"
                class="linkedin me-2">
                <svg width="32" height="32" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="1.4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 4H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2Z"></path>
                  <path d="M8 11v5"></path>
                  <path d="M8 8v.01"></path>
                  <path d="M12 16v-5"></path>
                  <path d="M16 16v-3a2 2 0 0 0-4 0"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- thankyou section ends -->



  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 footer-contact">
            <a class="logo">
              <img src="https://www.vitelglobal.in/emailtem/img/vitel-logo.png">
            </a>
            <p class="mt-3 ms-2">
              Vitel Global Communications offers VoIP Services for businesses of all sizes. Pioneering in seamless
              Business MMS and advanced
              telecommunication services.
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links mt-3 ms-2 ms-sm-0">
            <h4>Contact Info</h4>
            <ul class="d-flex  flex-column align-items-start">
              <li class="d-flex align-items-start mt-1">
                <a target="_blank" href="https://wa.me/17323338688?text=Hello">
                  <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m3 20.999 1.65-3.8a9 9 0 1 1 3.4 2.9l-5.05.9"></path>
                    <path
                      d="M9 10a.5.5 0 0 0 1 0V9a.5.5 0 1 0-1 0v1Zm0 0a5 5 0 0 0 5 5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0 0 1">
                    </path>
                  </svg>
                  +1 732-333-8688
                </a>
              </li>
              <li class="d-flex align-items-start mt-1">
                <a href="mailto:info@vitelglobal.com">
                  <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 5H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2Z"></path>
                    <path d="m3 7 9 6 9-6"></path>
                  </svg>
                  info@vitelglobal.com</a>
              </li>
              <li class="d-flex align-items-start mt-1">
                <a href="tel:8555584835">
                  <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5 4h4l2 5-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2">
                    </path>
                  </svg>
                  855-558-4835
                </a>
              </li>
              <li class="d-flex align-items-start mt-1">
                <a href="tel:7324443132">
                  <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5 4h4l2 5-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2">
                    </path>
                  </svg>
                  732-444-3132
                </a>
              </li>
              <li class="d-flex align-items-start mt-1">
                <a href="tel:7324443436">
                  <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5 4h4l2 5-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2">
                    </path>
                  </svg>
                  732-444-3436
                </a>
              </li>

            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links mt-3 ms-2 ms-sm-0">
            <h4>Address</h4>
            <ul class="d-flex align-items-center">
              <li class="d-flex align-items-start">
                <p>
                  #295 Durham Avenue,<br>
                  Suite D,<br>
                  South Plainfield, <br>NJ 07080
                </p>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links mt-0 mt-lg-3 ms-2 ms-sm-0">
            <h4>Follow Us</h4>
            <div class="social-links pt-0 pt-md-0">
              <a href="https://twitter.com/vitel_global" class="twitter" target="_blank">
                <svg viewBox="0 0 24 24" aria-label="Twitter" role="img" width="16" height="16" fill="currentColor"
                  class="twsvg">
                  <g>
                    <path
                      d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
                    </path>
                  </g>
                </svg>
              </a>
              <a href="https://www.facebook.com/VitelGlobal" class="facebook" target="_blank">
                <svg width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 10v4h3v7h4v-7h3l1-4h-4V8a1 1 0 0 1 1-1h3V3h-3a5 5 0 0 0-5 5v2H7Z"></path>
                </svg>
              </a>
              <a href="https://www.youtube.com/channel/UCrh3B9VT9xZkPsQNlyTjsxw" class="youtube" target="_blank">
                <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 5H7a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h10a4 4 0 0 0 4-4V9a4 4 0 0 0-4-4Z"></path>
                  <path d="m10 9 5 3-5 3V9Z"></path>
                </svg>
              </a>
              <a href="https://www.linkedin.com/uas/login?session_redirect=%2Fcompany%2F2295942%3Ftrk%3Dtyah%26trkInfo%3DclickedVertical%253Acompany%252CclickedEntityId%253A2295942%252Cidx%253A2-1-2%252CtarId%253A1476802707079%252Ctas%253Avitel%2520glo"
                class="linkedin" target="_blank">
                <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 4H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2Z"></path>
                  <path d="M8 11v5"></path>
                  <path d="M8 8v.01"></path>
                  <path d="M12 16v-5"></path>
                  <path d="M16 16v-3a2 2 0 0 0-4 0"></path>
                </svg>
              </a>
              <a href="https://www.instagram.com/vitelglobalcommunications/" class="instagram" target="_blank">
                <svg width="22" height="22" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 4H8a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V8a4 4 0 0 0-4-4Z"></path>
                  <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                  <path d="M16.5 7.5v.001"></path>
                </svg>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright-wrap d-md-flex py-4 align-items-center">
        <div class="me-md-auto text-center">
          <div class="copyright text-center">
            © Copyright 2024 <span><a href="https://www.vitelglobal.com/" target="_blank">Vitelglobal.com</a></span> All
            Rights Reserved.
          </div>
        </div>
      </div>

    </div>
  </footer>
  <!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <svg width="24" height="24" fill="#ffffff" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
      stroke-width="1.6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 5v14"></path>
      <path d="m18 11-6-6"></path>
      <path d="m6 11 6-6"></path>
    </svg>
  </a>

  <!-- Vendor JS Files -->
  <script src="static/assets2/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets2/vendor/aos/aos.js"></script>
  <script src="static/assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets2/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets2/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets2/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets2/js/main.js"></script>
</body>

</html>