<meta name="google-site-verification" content="Acg5bSGmKSPcfNhu75aTIQ4sW-Bimwo7LsuUDEkLcvM" />
<meta name="msvalidate.01" content="4BD779C8D6B6D011EED39B44DEAD7BEF" />  
<!-- Favicons -->
<link href="/static/assets/img/favicon.webp" rel="icon" />
<link href="/static/assets/img/apple-touch-icon.webp" rel="apple-touch-icon" />

<!-- Vendor CSS Files -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet"/>
<!-- <link
  href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
  rel="stylesheet"
/>
<link
  href="/static/assets/vendor/boxicons/css/boxicons.min.css"
  rel="stylesheet"
/> -->

<!-- Template Main CSS File -->
<!-- <link href="https://dqm77x662xl91.cloudfront.net/vitelcom-static/assets/css/style-new2.css" rel="stylesheet" /> -->
<!-- <link href="https://dqm77x662xl91.cloudfront.net/vitelcom-static/assets/css/responsive-new.css" rel="stylesheet" /> -->
 <link href="/static/assets/css/style-new2.css" rel="stylesheet" />
<link href="/static/assets/css/sprite.css" rel="stylesheet" />
<link href="/static/assets/css/responsive-new.css" rel="stylesheet" />
<!-- <link href="/static/assets/css/style.css" rel="stylesheet" />
<link href="/static/assets/css/responsive.css" rel="stylesheet" /> -->
<!-- <link href="https://ik.imagekit.io/vitel/style-min.css?updatedAt=1680080015828" rel="stylesheet" /> -->
<!-- <link href="https://ik.imagekit.io/vitel/responsive.css?ik-sdk-version=javascript-1.4.3&updatedAt=1677237889807" rel="stylesheet" /> -->


<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;500;600;800;900&display=swap" rel="stylesheet" />



<style>
  .megamenu-list {
    width: 230px;
  }
</style>
 
 
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43904896-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-43904896-1');
</script>


 

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T96ZDW');</script>
<!-- End Google Tag Manager -->

 
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '669235138129499');
fbq('track', 'PageView');
</script>
<noscript><img alt="facebook" height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=669235138129499&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
