<!DOCTYPE html>
<html lang="en-US">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content="Vitel Global is one stop solution for all your communication needs at the workplace; besides providing cloud based VoIP phone system for small and medium sized businesses with reliability and high efficacy">
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>VoIP Calling Solutions for California | Vitel Global</title>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.vitelglobal.com/vitel-center" />
<meta property="og:title" content="VoIP Calling Solutions for California | Vitel Global" />
<meta property="og:description" content="Vitel Global is one stop solution for all your communication needs at the workplace; besides providing cloud based VoIP phone system for small and medium sized businesses with reliability and high efficacy" />
<meta property="og:image" content="https://vitelglobal.com/static/assets/vimages/alabama-flag.webp" />
<meta property="og:site_name" content="Vitelglobal" /> 

{% include 'topscripts.html' %}

<link rel="canonical" href="https://www.vitelglobal.com/vitel-center"/>
</head>

<body>

  
{% include 'header.html' %}
 
 
<section class="banercc"><div class="container">
  <div class="row align-items-center">
 <div class="col-md-6"> 
   <img src="/static/assets/vimages/alabama-flag.webp" class="flag-st">
  
   <h1>VoIP Calling Solutions for Alabama</h1>
   <h4 class="text-blu mb-4">Get your business in Alabama the power it thirsts for. 
With outstanding features in voice and video calling, we provide the best solutions. 
</h4>
   <a href="{% url 'get-rolling' %}" class="btn bt-blue btn-lg">Take Off</a>
 </div>
 <div class="col-md-6">
   <img src="/static/assets/images/cloudphoneservices.webp" class="img-fluid">
 </div>
</div>

 </div>
</section>


<main id="main">

    <section id="services" class="services mb-0">
       <div class="container">
  
  
         <div class="row justify-content-center">
           <div class="col-md-8 text-center mb-5">
              <h2 class="fw-bold main-h">Top Notch Security</h2>
             <h6 class="text-blu">We follow strict security and data best practices in all we do, from the creation of our products to the running of our company. Through the early incorporation of security concepts into the development process, we provide our customers a solid security platform. </h6>
           </div>
        </div>
           
           <div class="row justify-content-center">
           <div class="col-md-6 col-lg-4 d-flex align-items-stretch ">
             <div class="security">
             <ul class="vitelul">
            <li>Physical protection  </li>
            <li>Network protection  </li>
            <li>Encryption of data  </li>
            <li>preventing toll fraud    </li>
            </ul>
             </div>
           </div>
  
           <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
            <div class="security">
                <ul class="vitelul">
            <li>incidental reaction  </li>
            <li>Protected data  </li>
            <li>operational safety  </li>
            <li> Purchasing management    </li>
            </ul>
             </div>
           </div>


           <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
            <div class="security">
                <ul class="vitelul">
            <li>Handling the data</li>
            <li>Development of the software  </li>
            <li>Testing  </li>
             </ul>
             </div>
           </div>
  
        
  
         </div>
  
       </div>
     </section>
   
         </main>
  

        
            
            
            <main id="main">

  <section id="services" class="services mb-5">
     <div class="container">


       <div class="row justify-content-center">
         <div class="col-md-8 text-center mb-2">
           <h2 class="fw-bold main-h">Controls under security policy</h2>
           <h6 class="text-blu">With our platform, you have access to a wide range of administrative controls for video, message, and phone, including the ability to limit who may activate screen sharing, require meeting participants to login, and request that your users authorize new guests in waiting rooms. </h6>
         </div>
          
       </div>

     </div>
   </section>

 

  </main>
  
  
  <section id="about" class="why-us spe-acc">
    <div class="container">
    <div class="row justify-content-center">

        <div class="col-md-5"> 
            <img src="static/assets/images/voip-message.webp" alt="" class="img-fluid br5 mt-5">
            </div>


    <div class="col-md-7"> 
     
    
     <div class="accordion-list">
    <ul class="p-0">
    <li data-aos="fade-up" data-aos-delay="100">
    <a data-bs-toggle="collapse" class="fw-bold collapsed" data-bs-target="#accordion-list-1" aria-expanded="true"><img src="static/assets/icons/high-quality-of-video.svg" alt="">Video<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list"  >
       <div class="row">
         <div class="col-md-12">
             <div class="p-3">
                <ul class="vitelul">
                    <li>Single Sign-in</li>
                    <li>Password protected </li>
                    <li>Screen sharing disabled</li>
                    <li>Prevent unidentified users to enter the room</li>
                    <li>Enable meeting recordings individually</li>
                    <li>Video enabling </li>
                    <li>Monitor and control data/file sharing</li>
                </ul>
             </div>


         </div>
       </div>    
    </div>
    </li>
    
    <li data-aos="fade-up" data-aos-delay="200">
    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="fw-bold collapsed" aria-expanded="false"><img src="static/assets/icons/mobile-app.svg" alt="">Phone<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list" >
        <div class="row">
            <div class="col-md-12">
                <div class="p-3">
                    <ul class="vitelul">
                       <li> Single sign-on</li>
                       <li>Phone number blocking    </li>
                       <li>Spam blocking AI based    </li>
                       <li> Masking of the number     </li>
                       <li>Customized calling plans</li>
                       <li>Voicemail outing   </li>
                    </ul>
                </div>
   
   
            </div>
          </div> 
    </div>
    </li>
    
    <li data-aos="fade-up" data-aos-delay="300">
    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed fw-bold" aria-expanded="false"><img src="static/assets/icons/enhancing-group-messaging.svg" alt="">Message<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
        <div class="row">
            <div class="col-md-12">
                <div class="p-3">
                    <ul class="vitelul">
                       <li>Blocklist </li>
                       <li>Block webmail accounts </li>
                       <li>Group chats</li>
                       <li>Texting made easy</li>
                   
                   </ul>
                </div>
   
   
            </div>
          </div> 
    </div>
    </li>
    
   
     
    </ul>
    </div>
    
    </div> 
   
    </div>
    </div>
    </section>


    <section id="services " class="services announcement">
        <div class="container">
   <div class="row   justify-content-center">
    <div class="col-md-6">
                   
        <h2 class="fw-bold   text-white">  We keep you Up to date</h2>
        <p class=" text-white">
            We collaborate with security researchers to find vulnerabilities, and if any are found, we'll let you know.
        </p>
        
        <a href="#" class="learn_bt my-4 text-org">Find out more about threats. <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg> </a>
      </div>
    <div class="col-md-4">
 
         <div class="support">
            <img src="static/assets/img/support.webp" alt="" class="img-fluid justify-content-center">

         </div>
    </div>

   </div>
 

     </div>
     
     </section>


  <!-- End #main -->

  <!-- ======= Footer ======= -->
  
{% include 'footer.html' %}

<script type="application/ld+json"> { "@context": "http://schema.org", "@type": "Product", "aggregateRating": { "@type": "AggregateRating", "ratingValue": "5", "reviewCount": "56" }, "name": "Cloud Business Phone System" } } </script>


</body>
</html>