<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MW55FQQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

<!-- ======= Top Bar ======= -->
<div id="topbar" class="fixed-top d-flex align-items-center">

    <div class="container d-flex flex-wrap justify-content-end">
    
    <div class="contact-info d-flex align-items-center">
    <a href="{% url 'ucaas' %}" class="d-flex align-items-center"><span> UCaaS</span></a>
   
    <a href="#" class="d-flex align-items-center ms-3"  data-bs-toggle="modal" data-bs-target="#feedBack"><span> Feedback</span></a>
    <a href="{% url 'voip-live-demo' %}" class="d-flex align-items-center ms-3 m-none"><span> Live Demo</span></a>  
    <a href="tel:+18555584835" class="d-flex align-items-center ml-3"><i class="bi bi-phone phone-icon"></i> <span>855-55V-ITEL(84835)</span></a>
    <a href="https://billing.vitelglobal.com/members/" target="_blank" class="d-flex align-items-center m-none"><i class="bi bi-lock ms-3"></i> <span>vOS Login</span></a>
     
    </div>
    </div>
    </div>
 
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container"> <div class="d-flex justify-content-center align-items-center">
        <div class="logo">
    <a href="{% url 'index' %}"><img src="/static/assets/images/logo.svg" class="img-fluid" loading="lazy" /></a>
   
    </div>
          <nav id="navigation1" class="navigation d-flex align-items-center justify-content-end">
            
            
            <!-- Main Menus Wrapper -->
            <div class="nav-menus-wrapper">
              <ul class="nav-menu align-to-right">
                 
      <li><a href="#">Products</a>
      <div class="megamenu-panel w-auto">
      <div class="megamenu-lists">
    
     <ul class="megamenu-list list-col-6 fl_ul"> 
     <!--  <h6>Business Communications</h6> -->
      
      <li><a href="{% url 'cloud-based-business-phone' %}"><img src="static/assets/icons/cloud-business-phone.svg" alt=""> <div><span>Cloud Business Phones</span> <p>Extensive features with outstanding benefits. Switch to cloud business phone today. </p></div></a></li>  
      <li><a href="{% url 'voip-video-conference' %}"><img src="static/assets/icons/video-conferencing.svg" alt=""><div><span>Video Meetings</span><p>Get productive with unlimited video meetings – Here productivity meets the perfection </p></div></a></li>  
      <li><a href="{% url 'team-messaging' %}"><img src="static/assets/icons/enhancing-group-messaging.svg" alt=""><div><span>Team Messaging</span><p>Engage your teams in powerful ways -Connect and Collaborate with ease</p></div></a></li>  <li><a href="{% url 'communication-apis' %}"><img src="static/assets/icons/communication-api.svg" alt=""><div><span>Communication APIs</span><p>API integrations with vast availability and supports multiple integrations at a time</p></div></a></li> 
      <li><a href="{% url 'email-server-services' %}"><img src="static/assets/icons/email-server.svg" alt=""><div><span>Email Server Services</span><p> business phone solutions hosted on cloud</p></div></a></li>  
</ul>

      <ul class="megamenu-list list-col-6 fl_ul"> 
     
      
      <li><a href="{% url 'desktop-voip-app' %}"><img src="static/assets/icons/desktop-app.svg" alt=""><div><span>Desktop App</span><p>Launch your desktop app and operate everything from your desk</p></div></a></li> 
      <li><a href="{% url 'mobile-voip-app' %}"><img src="static/assets/icons/mobile-app.svg" alt=""><div><span>Mobile App</span><p>The best way to stay up to date – work updates at your fingertips. Seamless user experience. </p></div></a></li> 
    
<li><a href="{% url 'contact-center-solutions' %}"><img src="static/assets/icons/ip-phone.svg" alt=""><div><span>Contact Center</span><p>Transform the entire communication system of your business with modernized and recommended IP phones</p></div></a></li>  

    <li><a href="{% url 'ip-phones' %}"><img src="static/assets/icons/ip-phone.svg" alt=""><div><span>IP Phones</span><p>Transform the entire communication system of your business with modernized and recommended IP phones</p></div></a></li>
    
      </ul>
       
    <!-- <ul class="m-none">
      <img src="/static/assets/images/pop.png" alt="">
    </ul> -->
    
      </div>
      </div>
      </li>
    
    
    <li><a href="#">Solutions</a>
      <div class="megamenu-panel w-auto">
      <div class="megamenu-lists">
    
    <ul class="megamenu-list list-col-3"> 
    <h6><i class="bx bx-video"></i>By Organization </h6> 
    <li><a href="">Startup</a></li> 
    <li><a href="{% url 'corporate-business-phone-solutions' %}">Corporate</a></li> 
    <li><a href="{% url 'enterprise-business' %}">Enterprise</a></li>
    <li><a href="{% url 'non-profit' %}">Non-Profit</a></li>  
 
    </ul>
<ul class="megamenu-list list-col-3"> 
<h6><i class="bx bx-message"></i>By Sector</h6>

<!-- <li><a href="#">IT Staffing</a></li> --> 
<li><a href="{% url 'education-cloud-phone-system' %}">Educational Services</a></li> 
<!-- <li><a href="#">Administration</a></li>  -->
<li><a href="{% url 'healthcare-social-assistance' %}">Healthcare & Social Assistance</a></li> 
<li><a href="{% url 'manufacturing-business-phone-service' %}">Manufacturing</a></li> 
<li><a href="{% url 'business-phone-service-retail-stores' %}">Retail Trade</a></li> 
<li><a href="{% url 'transportation-warehousing' %}">Transportation & Wareshousing</a></li> 
<li><a href="{% url 'technical-services' %}">Technical Services</a></li> 
<li><a href="{% url 'real-estate' %}">Real Estate & Leasing</a></li> 
<!-- <li><a href="#">Finance & Insurance</a></li> 
<li><a href="#">Hospitality</a></li> 
<li><a href="#">Construction</a></li> 
<li><a href="#">Retail Online</a></li>  
<li><a href="#">Business Franchises</a></li> 
<li><a href="#">Wholesale Trade</a></li> 
<li><a href="#">Entertainment</a></li>  -->
</ul>
    
    
    <ul class="megamenu-list list-col-3">
      <h6><i class="bx bx-cloud"></i>By Need</h6>
      
    <li><a href="{% url 'cloud-voip-solutions' %}">Cloud VoIP Solutions</a></li>
    <li><a href="{% url 'cloud-pbx-phone-system' %}">Cloud PBX System</a></li>
    <li><a href="{% url 'global-scope' %}">Global Scope</a></li>
    <!-- <li><a href="#">SIP Truncking</a></li>
    <li><a href="#">Hosted PBX Solutions</a></li>
    <li><a href="#">VoIP Phone System</a></li>
    <li><a href="#">Softphones</a></li> -->
    <li><a href="{% url 'crm-integration' %}">CRM Integration</a></li>
    <li><a href="{% url 'ats-integration' %}">ATS Integration</a></li>
    <li><a href="{% url 'voip-api-integration' %}">API Integration</a></li>
    <li><a href="{% url 'business-phone-features' %}">Business Phone Features</a></li>
    <li><a href="{% url 'hybrid-workforce' %}">Hybrid Workforce</a></li>
     
      </ul>
    
    
      </div>
      </div>
      </li>
    
    
<li><a href="#">Pricing</a>
<div class="megamenu-panel w-auto">
<div class="megamenu-lists"> 
<ul class="megamenu-list list-col-6"> 
<li><a href="{% url 'unlimited-calling-plans' %}"> Plans & Pricing</a></li>  
<li><a href="{% url 'pay-as-you-go' %}"> Pay As You Go</a></li>   
</ul> 
</div>
</div>
</li>

<!-- <li><a href="#">Partners</a>
<div class="megamenu-panel w-auto">
<div class="megamenu-lists"> 
<ul class="megamenu-list list-col-6"> 
<li><a href="{% url 'partners-program' %}">Become a Partner</a></li>
<li><a hrer="">Our Partners</a></li>   
</ul> 
</div>
</div>
</li> -->
    
     <li><a href="#">Resources</a>
    <div class="megamenu-panel w-auto" style="right:0;">
    <div class="megamenu-lists">
    
    <ul class="megamenu-list list-col-6"> 
    <li><a href="{% url 'promo-videos' %}">Promo Videos</a></li> 
  
    <li><a href="{% url 'e-books' %}">E-Books</a></li>
    <li><a href="{% url 'podcasts' %}">Podcasts</a></li>
    <li><a href="{% url 'factsheet' %}">Factsheet</a></li>
    <li><a href="{% url 'partners-program' %}">Partner-Program</a></li>
    </ul>
    <ul class="megamenu-list list-col-6"> 
 
    <li><a href="https://www.vitelglobal.in/blog/" target="_blank">Blog</a></li>
    <li><a href="{% url 'white-papers' %}">White Papers</a></li>
    <li><a href="{% url 'newsroom' %}">Newsroom</a></li> 
    <li><a href="{% url 'inclusion' %}">Inclusion</a></li> 
    <li><a href="{% url 'csr' %}">CSR</a></li>  
    <li><a href="{% url 'careers' %}">Careers</a></li> 
    </ul> 
    </div>
    </div>
    </li>

 
    
         
              </ul>
            </div>  <div class="d-none d-md-block">
           <a class="btn bt-blue" href="{% url 'get-rolling' %}">Get Rolling</a></div>  <div class="nav-toggle"></div>
          </nav></div>
        </div>
    </header>

      <!-- ======= Header ======= -->
      
      
      
      
    