<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content="Vitel Global cloud solutions transform the corporate workforce ecosystem and creates an innovative environment between customers, working personnel, partners, and teams">
<meta name="robots" content="index, follow"> 
<!-- Title -->
<title>VoIP Phone System in Corporate Business | Vitel Global India</title>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.vitelglobal.in/" />
<meta property="og:title" content="VoIP Phone System in Corporate Business | Vitel Global India" />
<meta property="og:description" content="Vitel Global cloud solutions transform the corporate workforce ecosystem and creates an innovative environment between customers, working personnel, partners, and teams" />
<meta property="og:image" content="https://vitelglobal.in/img/New01.jpg" />
<meta property="og:site_name" content="Vitelglobal" /> 

 {% include 'topscripts.html' %}
</head>

<body>

  
{% include 'header.html' %}
 

<section class="banercc banercc02">
  <div class="container">
   <div class="row align-items-center justify-content-between">
  <div class="col-md-5"> 
    <h1><span class="text-org">Pay Less</span> <br>Avail More!!!!</h1>
    <h4 class="text-blu">With Vitel Global, your business will have the flexibility to add geographies or phone lines as per your need. Get in touch with us today and let our VoIP specialist guide you through the plans and pricing. </h4>
    <a href="https://billing.vitelglobal.com/signup/#/newsignup" class="btn bt-blue btn-lg">YES! TAKE ME THERE</a>
  </div>
  <div class="col-md-6">
    <img src="static/assets/images/corporate-voip.jpg" class="img-fluid br100">
  </div>
 </div>

  </div>
</section>


<main id="main">

   

<section id="about" class="">
<div class="container"> 
<div class="row align-items-center justify-content-between mt-5">
<div class="col-md-5"> 
<img src="static/assets/images/corporate-phone.jpg" alt="" class="img-fluid br5">
</div>
<div class="col-md-6">
<h3 class="fw-bold text-blu">VoIP Calling Plans</h3>
<h5 class="fw-bold text-blu">Unlimited Premium Cloud PBX </h5>
<ul class="vitelul">
<li>Let your business expand with our Hosted PBX unlimited plan</li>
<li>Vfax numbers and existing phone are unaltered – extra charges applied</li>
<li>Unlimited VoIP calling</li>
<li>Premium features fully loaded – Caller ID, Call waiting, anonymous call block, 3-way-calling etc.</li> 
<li>Conference Bridging, Call Recordings, Ring Groups, CRM Integration and many more</li>
<li>Online account access</li>
<li>Free set up, no activation fee, no contracts are required </li>
</ul> 
</div> 
</div></div>
</section>

 
  <section id="about" class="">
<div class="container"> 
<div class="row align-items-center justify-content-between mt-5">
<div class="col-md-5 order-md-2"> 
<img src="static/assets/images/corporate-phone.jpg" alt="" class="img-fluid br5">
</div>
<div class="col-md-6"> 
<h3 class="fw-bold text-blu">Unlimited plans for Small Enterprises </h3>
<ul class="vitelul">
<li>Unlimited plans for USA (48) & Canada</li>
<li>Exceptional VoIP calling features</li>
<li>Contact Center and Customer Portal</li>
<li>Easy installation for FREE</li>
</ul>

<h3 class="fw-bold text-blu mt-3">Pay As You Go</h3>
<ul class="vitelul">
<li>Account refilling</li>
<li>Buy feature packages individually</li>
<li>Get your account details</li>
<li>Check the balance and expiration date</li>
</ul>


</div> 
</div></div>
</section>


</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
{% include 'footer.html' %}




</body>
</html>